@charset "utf-8;";
$zjsyGreen : #00C500;
$fontGrey : #E1E1E1;
$fontDarkGrey : #908686;
$fontLightBlack : #666;

*{margin:0;padding:0;}
ol li,ul li{ list-style-type:none; vertical-align:middle;}
ul{margin-bottom: 0px !important;}
input{vertical-align:middle;}
table{border-collapse: collapse;border-spacing: 0;}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select:none;
  -webkit-font-smoothing:antialiased;
}
a{
  text-decoration:none;
}
a:link{
  text-decoration: none!important;
}
a:hover{
  text-decoration:none;
  outline:none;
}

a:focus{
  text-decoration:none;
  outline:none;
}


body {
  position: relative;
  min-height: 100%;
  font-size:12px;
  //font-family:"微软雅黑";
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif !important;
  overflow:auto;
  -webkit-font-smoothing:antialiased;
  font-weight: 400 !important;
}
input,button, textarea, select {
  //-webkit-appearance: none;-moz-appearance:none;appearance: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
input[type="checkbox"]{-webkit-appearance: checkbox;-moz-appearance:checkbox;appearance:checkbox;}
//input[type="radio"]{-webkit-appearance: radio-button;-moz-appearance:radio-button;appearance:radio-group;}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;-moz-appearance:none;appearance: none;
}
input{ outline:none;}
img {
  border:none;vertical-align:middle;width:100%;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,strong{font-weight:normal;}
/* position */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}

/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}

/* clear float */
.clear, .clearfix:after {
  clear: both;
}
.clear, .clearfix:before, .clearfix:after {
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0; height: 0;
}
.clearfix:before, .clearfix:after {
  content: '';
}
.clearfix {
  *zoom: 1;
}


/* css3  */
.border{position:relative;
  moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  behavior: url(PIE.htc);
}
.shadow{position:relative;
  -moz-box-shadow:2px 2px 10px #06C;
  -webkit-box-shadow:2px 2px 10px #06C;
  box-shadow:2px 2px 10px #06C;
  behavior: url(PIE.htc);
}

/****************************************************/
/****************************************************/


/*************************首页***************************/

.header{ position:fixed;left:0;top:0; z-index:9;width:100%;background:#fff;border-bottom:1px solid #dddddd;}
.creditHeader .title{color:#FFFFFF;font-weight:lighter;}

.orderlistheader{position:relative;}
.swiper-container{
  position:static;left:0;top:46px;width:100%;z-index:9;height: 150px;
  //transition: height .5s ease;
}
.swiper-slide img {
  height: 150px;
}
.title{color:#555;text-align:center;font-size:18px;line-height:2.6em;}
.back{ position:absolute;left:10px;top:13px;width:100px;height:25px;}
.header div.back a{width:100px;height:25px;padding:20px 40px 20px 10px;}
.back img{width:10px;}
.vip{ position:absolute;right:10px;top:12px;    width: 30px;
  height: 30px;}
.vip img{width:18px;}

.navTop{font-size:15px;line-height:2.6em;border-bottom:1px solid #dddddd; background:#fff;
  margin-top: 45px;}
.navTop li{float:left;width:33.3333%;text-align:center;}
.navTop li a{ display:block;color:#666;}
.navTop li a:hover,.navTop li a.hover{color:#00aaff;border-bottom:3px solid #00aaff;}

.sound{padding-left:30px;height:36px;line-height:36px;border-bottom:1px solid #dddddd;background:#fef8d4 url(../images/ico_2.png) no-repeat 10px center; background-size:16px;color:#666;font-size:12px;}
.sound a{font-size:12px;float:right;margin:0 6% 0 0;}
.attention{display:inline-block;max-width:72%;white-space:nowrap; overflow:hidden;
  -ms-text-overflow: ellipsis;
  -webkit-text-overflow:ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;}

.sideNav{
  width:25%;
  background:#f0f0f0;
}
.sideNav{
  height: 100%;
  overflow-y : scroll;
  position: relative;
}

.sideNav li{border-bottom:1px solid #e6e6e6;}
.sideNav li a{ display:block;color:#666;font-size:13px;line-height:3.4em;text-align:center;}
.sideNav li a.hover{font-size:15px;background:#fff url(../images/ico_4.png) repeat-y left center; background-size: auto 4px;color:#00aaff;}
.sideNav li img{width:12px;margin-top:-3px;margin-right:3px;}

.sideNav li.hover1 a.hover{font-size:14px;background:#fff;color:#666;}


.hidden{width:75%;overflow:auto}
.productList{
  width:75%;
  overflow-y:auto;
  overflow-x: hidden;
  position: relative;
  //height: 100%;
}
.productSaleList{
  width:100%;
  overflow:auto;
  position: relative;
  //height: 100%;
}

.main{
  height:100%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.main404{
  width:100%;
}

.greens{width:100%; position:relative; background:#fff;}
.greens h3{ position:relative;margin-top:8px;font-size:4.2vw;line-height:2.4em; text-indent:0.6em; background:#f8f8f8 url(../images/bg_4.png) repeat-y;}
.greens li{ position:relative;width:50%;float:left;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.greens li em{ display:block;width:100%;}
.greens li p{line-height:1.4em;padding-left:15px;}
.greens li p strong{ display:block;font-size:15px;color:#666;
  width: 110px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;}
.greens li .org{ display:block;font-size:15px;font-weight:normal;padding-top:12px;height: 30px;}

.greensSale h3{ position:relative;margin-top:8px;font-size:4.2vw;line-height:2.4em; text-indent:0.6em; background:#f8f8f8 url(../images/bg_4.png) repeat-y;}
.greensSale li{
  padding-bottom: 20px;
  background: white;
  height:120px;
  position:relative;width:100%;float:left;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.greensSale li em{ display:inline-block;width:40%;height: 100%;}
.greensSale li em img{ display:block;width:115px;height:100px;margin: auto;margin-top:10px;}
.greensSale li p{display:inline-block;line-height:1.4em;padding-bottom:12px;}
.greensSale li p strong{ display:block;font-size:15px;font-weight:bold;color:#666;}
.greensSale li b{ display:block;font-size:15px;font-weight:normal;padding-top:12px;}

/*************************加减按钮***************************/
.numProduct{
  float: left;
  //position:absolute;
  //right:15px;
  //bottom:10px;
  margin:-22px 10px 5px 0px ;
  //width:138px;
  text-align:right;}
.numProduct .img-cover{
  width: 35px;
  height: 35px;
  float: left;
  margin-top:-5px ;
}
.numProduct .img-cover-left{

  padding-top: 8.5px;
  padding-right: 17px ;
  float: left;
  margin-top:-5px ;
}
.numProduct .img-cover-right{
  padding-top: 8.5px;
  padding-left: 17px ;
  float: left;
  margin-top:-5px ;
}
.numProduct img {width: 18px;height:18px;}
.numProduct span{
  width:25%;text-align:center;font-size:15px;line-height:25px;color:#666;}

.num{
  position:absolute;
  right:15px;
  bottom:10px;
  width:55%;text-align:right;}
.num .img-cover{
  width: 25px;
  height: 25px;
  padding: 3.5px;
  float: right;
}
.num img {width: 18px;float: right;}
.num span{float:right;width:25%;text-align:center;font-size:15px;line-height:25px;color:#666;}

.sub{}

/*************************购物车***************************/
.shop{ position:absolute;left:0;bottom:0;width:100%;background:#404144;height:42px;}
.shop p{padding:0.6em;font-size:15px;line-height:1.6em;color:#cccccc;}
.shop p img{width:26px;margin-right:10px;margin-top:-3px;margin-left:5px;}
.shop p font{ display:block;float:right;color:#999;}

.shop strong{ display:block;float:left;padding:0.6em;font-size:15px;line-height:1.5em;color:#fff;}
.shop strong font{font-size:12px;color:#666;padding-left:10px;}
.shop span{ display:block;float:right;}
.shop span a{ display:block;font-size:18px;padding:0.4em 1em;line-height:1.6em;color:#fff; background:#dd0000;}
.shop span button{ display:block;font-size:18px;padding:0.4em 1em;line-height:1.6em;color:#fff; background:#dd0000;}

.shop em{ display:block;float:left;width:40px;padding:0.6em;font-size:15px;font-style:normal; cursor:pointer; position:relative;}
.shop em img{width:26px;margin-right:10px;margin-left:5px;}

.shop em b{ display:block;position:absolute;right:-8px;top:5px; z-index:99;width:22px;height:18px;line-height:17px;padding:0;font-size:12px;text-align:center;font-weight:normal;color:#fff;
  moz-border-radius:5px; background:#dd0000;
  -webkit-border-radius:5px;
  border-radius:5px;
}
a[disabled]{
  opacity: .5;
}
p{
  margin: 0 !important;
}
/*************************购物车弹出框***************************/
.cart-cover{position:fixed;left:0;top:0;width:100%;height:100%; z-index:10;background:url(../images/bg_1.png) repeat;}
.cart dl{
  z-index: 15;
  height: 0;
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;
  position:absolute;left:0;bottom:0px;width:100%;background:#fff;}
.cart dl dt{padding:0 3%;color:#999999;background:#fff;border-top:2px solid #00aaff;}
.cart dl dt span{ display:block;width:33px;}
.cart dl dt span img{margin-right:2vw;margin-top:-23px;}
.cart dl dt span a{color:#999999;}.numN a.sub1 img
.cart dl dd{height:80vw; overflow:auto;}
.cart li{border-bottom:1px solid #eee;color:#333;padding:8px 3%;width:94%; clear:both; overflow:hidden;}
.cart li strong{ display:block;float:left;width:30%;font-size:15px;line-height:2em;}
.cart li b{ display:block;float:left;font-size:15px;line-height:2em;width:40%;text-align:right;}

.numN{width:30%;text-align:right;padding-top:4px;}
.numN img{ display:block;width:23px;float:right;}
.numN span{float:right;width:26px;height:23px;text-align:center;font-size:12px;line-height:21px;border-top:1px solid #dedede;border-bottom:1px solid #dedede;color:#666;}


.footer{
  position:fixed;
  background-color: red;
  left:0;bottom:0;width:100%; z-index:999;
  height: 42px;
}


.flyer {
  display: block;
  width: 15px;
  height: 15px;
  position:absolute; z-index:10;
}

.store{ background:#fff;}
.store .store-detail{ display:inline-block;padding-top:5%;vertical-align: top;}
.store .store-image{display:inline-block;padding:5%;width:35%;}

.store p{border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;color:#999;padding:0.6em 0;line-height:2em;text-align:right;padding-right:15px;font-size:15px;}
.store p font{font-size:16px;color:#666;}

.stores{margin-top:15px;background:#fff;font-size:15px;}
.stores h3{padding:12px 0;font-size:15px;line-height:1.4em;color:#444;padding-left:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.stores li{width:100%; clear:both; overflow:hidden;padding:8px 0;font-size:15px;line-height:1.4em;color:#888;border-bottom:1px solid #ddd;}
.stores li span{ display:block;float:left;padding-left:15px;}
.stores li p.storeIntro{text-indent:1em;line-height:20px;margin:16px 5px 26px 0;top:5px;height:auto;color:#8C8989;}
.stores li.row span{left:15px;font-weight:bolder;}

.address{padding:15px 15px;background:#fff url(../images/ico_7.png) no-repeat 95% center; background-size:10px;border-bottom:1px solid #ddd;}
.addressNoArrow{
  background-image: none;
}
.address em{ display:block;float:left;width:20px;padding-right:10px;}
.address p{float:left;font-size:15px;line-height:1.6em;color:#666;}

.shopList{margin-top:15px;background:#fff;font-size:15px;}
.shopList h3{padding:12px 0;font-size:15px;line-height:1.4em;color:#444;padding-left:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.shopList li{width:100%; clear:both; overflow:hidden;padding:12px 0;border-bottom:1px solid #ddd;}
.shopList li em{ display:block;float:left;width:24%;padding:0 3%;}
.shopList li p{float:left;width:36%;}
.shopList li p strong{ display:block;color:#666666;font-size:16px;line-height:1.4em;}
.shopList li p b{ display:block;color:#ff6600;font-size:18px;line-height:1.4em;font-weight:normal;margin-left:-2px;}

.supply{font-size:15px;line-height:2em;padding:6px 12px;text-align:right;color:#999;}
.supply a{color:#666;padding:0 3px;}

.parcel{margin-top:10px;background:#fff;font-size:15px;}
.parcel h3{padding:12px 0;font-size:15px;line-height:1.4em;color:#444;padding-left:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.parcel li{width:100%; clear:both; overflow:hidden;padding:12px 0;border-bottom:1px solid #ddd;}
.parcel li em{ display:block;float:left;width:26%;height:64px;padding:0 3%;}
.parcel li p{float:left;width:36%;}
.parcel li p strong{ display:block;color:#666666;font-size:14px;line-height:1.4em;}
.parcel li p b{ display:block;color:#ff6600;font-size:12px;line-height:2em;font-weight:normal;color:#999;}
.parcel li .get-order-right{ display:block;float:right;color:#ff6600;font-size:14px;padding-right:12px;}

.pay{
  margin:10px 0;
  background:#fff;font-size:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}

.pay h3{float:left;padding:12px 0;font-size:15px;line-height:2.4em;color:#444;padding-left:15px;margin-bottom: 0;}
.pay strong {
  display: inline-block;
  float: left;
  color: #999;
  padding: 14px 8px;
  font-size: 14px;
  line-height: 2.4em;
}
.pay a{
  display:inline-block;
  float:left;
  color:#999;
  padding:12px 8px;
  font-weight:bolder;
  font-size:14px;
  line-height:2.4em;
  padding-right:15px;}
.pay li {
  height: 45px;
  line-height: 45px;

}
.pay hr{
  margin: 0;
}
.pay-icon {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 10px;
  background-position: 99% center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}
.pay-icon-wechat{
  float: left;
  background-image:url(../images/pay-wechat.png)
}
.pay-icon-delivery{
  float: left;
  background-image:url(../images/pay-freight.png)
}
.pay-icon-selected{
  float: right;
  background-size: 2rem;
  background-image:url(../images/ico_8.png)
}

.succeed{
  padding:12px 12px 12px 36px;
  background:#fff url(../images/ico_8.png) no-repeat;
  background-size:18px;
  border-bottom:1px solid #ddd;
  background-position:3% 25%;
}
.succeed em{ display:block;float:left;width:20px;padding-right:10px;}
.succeed p{float:left;font-size:13px;line-height:1.6em;color:#999;}
.succeed p strong{ display:block;font-size:15px;color:#666;}

.failed{padding:15px 12px 15px 36px;background:#fff url(../images/ico_fail.png) no-repeat 10px 16px;
  background-size:18px;border-bottom:1px solid #ddd;}
.failed em{ display:block;float:left;width:20px;padding-right:10px;}
.failed p{float:left;font-size:13px;line-height:1.6em;color:#999;}
.failed p strong{ display:block;font-size:15px;color:#666;}

.danhao{margin-top:15px;padding:12px 0 12px 35px ;background:#fff;border-bottom:1px solid #ddd;}
.danhao p{font-size:15px;line-height:1.8em;color:#999;}
.danhao font{color:#666;padding-right:8px;}
div.iphone button.autocodeBtn{
  height: 32px;
  margin-top: 9px;
  margin-right:10px;
  float: right;
}
.iphone{position:relative;background:#fff;border-top:1px solid #ddd;padding:0;line-height:2.5rem; }
//.iphone li{padding:12px 0;font-size:1.5rem;line-height:2.5em;border-top:1px solid #ddd;}
.iphone li {padding: 12px 0;border-top:1px solid #ddd;font-size: 1.5rem;line-height: 2em;}
.iphone li span {padding:0 12px;color:#666;line-height:2.5em;background:none;}
.iphone label.control-label{
  height:30px;margin:0 0 0 12px;font-size:15px;line-height:2.5em;padding:2px;
}
.iphone button.btn {
  padding: 5px 6px;
  background: #666;
  margin-left:-1%;
  color: #fff;
}
.del{ position:absolute;right:15px;top:12px;font-size:15px;line-height:1.4em;}

/*************************地址***************************/
.address li {
  padding: 0 0 20px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
//.address li{padding:10px 0;background:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-top:10px;}
.address li p{font-size:15px;line-height:1.6em;color:#666;padding-left:12px;}
.address li span{ display:block;text-align:right;padding-top:10px;}
.address li span img{width:18px;margin-top:-3px;margin-right:4px;}
.address li span a{color:#666; display:inline-block;padding-right:15px;font-size:14px;line-height:1.6em;}
dl{
  margin-bottom:0 !important;
}
/*************************个人中心***************************/
.head{ background:#00aaff;height:95px;}
.credit{ background:#FFFFFF;height:58px;}
.credit span{display:inline-block;color:#999;margin:30px 10px 0 10px;}
.credit h2{display:inline-block;color:#ff6600;}
.head em{ display:block;float:left;width:80px;}
.head p a{display:inline-block;float:left;color:#fff;font-size:20px;text-align:center;line-height:2em;padding:30px 0 30px 20px;}

.main .personal{margin-top:10px;}
.personal ul{margin-top:5px; background:#fff;border-top:1px solid #ddd;}
.personal ul li{clear:both; overflow:hidden;padding:7px 15px;border-bottom:1px solid #ddd;border-bottom:1px solid #ddd;font-size:16px;color:#999;line-height:2.2em;}
//.personal ul li em img{width:28px;margin-top:-3px;padding-right:8px;}
.personal ul li a{ display:block;font-size:16px;color:#483F3F;line-height:2.2em; background:url(../images/ico_7.png) no-repeat right center;
                    background-size:10px;background-position:98% 50%;}
.personal ul li img{width: 28px;margin:-3px 10px 0 0;}
.personal ul li strong{ display:block;float:left;font-size:16px;color:#999;line-height:2.2em;}
.personal ul li .nobg{display:inline-block;margin:10px 0 10px 0;background:none;}
.personal ul li span a#nobg{ display:block;margin:10px 20px 10px 0;float:right;font-size:16px;color:#999;line-height:2.2em;background:none;}
#creditdetail ul li a{display:block;font-size:16px;color:#999;line-height:2.2em;background:none;}
#creditdetail ul.mt_0{margin-top:0px;}
#creditdetail ul.mt_0 span.credittime{display:inline-block;height:16px;font-size:14px;font-weight:400;}
#creditdetail ul.mt_0 li{margin:0 auto;width:100%;margin-top:-14px;}
#creditdetail ul li strong {display: block;float:left;font-size: 16px;font-weight: bolder;color: #999;
  position: relative;
  top: 13px;
}
.addcredit{display:inline-block;float:right;color: #ff6600;margin:auto;margin-top:-10px;}
.dan{margin-top:10px;background:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}

.hao{font-size:14px;line-height:2em;padding:5px 10px;color:#999;border-bottom:1px solid #ddd;}
.hao strong{ display:block;float:left;color:#999999;}
.hao span{ display:block;float:right;color:#ff6600;font-size:12px;}
.main .dan  div.orderno strong,
.main .dan  div.orderno span{height:25px;}

.pic{width:100%;}
.pic ul{float:left;}
.pic li{float:left;width:40px;padding:5px 10px;margin-right:10px;text-align:center;}
.pic li p{font-size:15px;line-height:1.4em;padding:15px 0 20px 0;color:#999;display:inline-block;text-align:center;width:40px;height:30px;}
.pic span{ display:block;float:right;padding:40px 30px;font-size:12px;color:#999;margin:0 15px 0 0;background:url(../images/ico_7.png) no-repeat right center; background-size:9px;}
.pic ul li em {display:inline-block;text-align:center;width:40px;height:40px;}
.pic ul li em img{margin:0 auto;width:40px;height:40px;margin-top:20%;}

.time{font-size:12px;line-height:2em;padding:5px 10px;color:#999;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.time strong{ display:block;float:left;color:#999999;font-weight:lighter;}
.time span{ display:block;float:right;color:#999;}
.time font{color:#ff6600;font-size:14px;}

.dandl{margin-top:-4px;border-top:1px solid #ddd; background:#fff;}
.dandl dt{background:#fff;font-size:14px;line-height:2em;padding:10px 10px;color:#666;border-bottom:1px solid #ddd;}
.dandl dt strong{ display:block;float:left;font-size:15px;}
.dandl dt span{ display:block;float:right;color:#ff6600;}

.danq{padding:10px 10px;}
.danq li{padding:8px 0;width:100%; clear:both; overflow:hidden;font-size:15px;line-height:1.4em;color:#666;}
.danq li p{ display:block;float:left;width:210px;}
.danq li span{display:block;float:left;color:#999;}
.danq li strong{ display:block;float:right;}

.shou{padding:10px;color:#999;}
.shou li{width:100%; clear:both; overflow:hidden;padding:6px 0;font-size:14px;line-height:1.4em;color:#777;}
.shou li span{ display:block;float:left;}
.shou li p{float:right;text-align:right;}

/*************************公告***************************/
.notice{ display:none;position:fixed;left:0;top:0;width:100%;height:100%; z-index:999999;background:url(../images/bg_1.png) repeat;}
.notice dl{ position:absolute;left:0;bottom:0;width:100%; z-index:9;background:#fff;}
.notice dl dt{padding:0 3%;color:#999999;text-align:right;background:#fff;border-top:2px solid #00aaff;}
.notice dl dt em{ display:inline-block;width:33px;}
.notice dl dt em img{margin-right:2vw;margin-top:-23px;}
.notice dd{padding-bottom:15px;
  min-height:200px;}
.notice dd h3{font-size:16px;line-height:1.6em;text-align:center;padding:10px 0 5px;color:#666;}
.notice dd p{font-size:14px;line-height:1.8em;text-align:left;padding:10px 12px;color:#777; text-indent:2em;}
em#close{opacity:1;}

/*************************产品弹出框说明***************************/

.product-detail{position:fixed;left:0;top:0;width:100%;height:100%; z-index:9999999999;background:url(../images/bg_1.png) repeat;}
.product-detail dl{ position:absolute;left:0;bottom:0;width:100%; z-index:9;background:#fff;}
.product-detail dl dt{padding:0 3%;color:#999999;text-align:right;background:#fff;border-top:2px solid #00aaff;}
.product-detail dl dt em{ display:inline-block;width:33px;margin:0 auto;}
.product-detail dl dt em img{margin-right:2vw;margin-top:-23px;}
.product-detail dd{height:450px; overflow:auto;}
.product-detail dd em{ display:block;}
.product-detail dd h3{font-size:16px;color:#666;line-height:1.6em;padding:0px 0 10px;padding-left:10px;}
#saleBig,#saleBig img{width:250px;height:218px;margin:0 auto;}
h3.ng-binding{margin:10px 0 0 0;}
strong.ng-binding{font-weight:400;}

.product-detail{
  .mark-sec{
    position:absolute;
    right : 5px;
    top : 220px;
    img{
      width: 30px;
      height: 30px;
    }
    span{
      margin-top: 5px;
      display: block;
      font-size: 16px;
      color: #666;
    }
  }
}

.project-detail-img{
  width: 250px;
  height: 218px;
  margin: auto;
}
.project-detail-img img{
  width: 250px;
  height: 218px;
}
.project-detail-img, .project-detail-img img {
  width: 250px;
  height: 218px;
}


/*************************产品详情***************************/

.money{padding:10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.money strong{ display:block;float:left;color:#ff6600;font-size:18px;line-height:1.4em;}

.product-detail-content{border-top:12px solid #f0f0f0;}
.product-detail-content strong{ display:block;font-size:14px;line-height:1.6em;padding:8px 10px;color:#666;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.product-detail-content div{height:100px; overflow:auto;}
.product-detail-content p{padding:12px;font-size:14px;color:#666;line-height:1.6em;}


/*************************按钮***************************/
.input2{width:32%;color:#666; text-indent:0.6em;border:1px solid #fff;font-size:15px;line-height:1.5em;font-family:"微软雅黑";border-radius:3px;}
.input1{width: 55%;border: 1px solid #fff;text-indent:0.6em;font-family: "微软雅黑";font-size:15px;line-height:1.5em;border-radius: 3px;}
.btnH{color:#fff;font-size:14px;line-height:2em;margin-left:10px;padding:0 12px;background:#666666;border:1px solid #666; font-family:"微软雅黑";
  moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.redBtn{text-align:center;background:#dd0000;}
.redBtn button{ display:block;padding:0;font-size:16px;line-height:2.6em;color:#fff; background:#dd0000;width:90%;
  moz-border-radius:5px;
  margin:0 auto;
  margin-top:15px;
  height:40px;
  -webkit-border-radius:5px;
  border-radius:5px;}
.ensurebtn{text-align:center;}
.ensurebtn button{ display:block;padding:0;font-size:16px;line-height:2.6em;color:#fff; background:#dd0000;width:90%;
  moz-border-radius:5px;
  margin:0 auto;
  margin-top:15px;
  height:40px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

#checknum::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#checknum::-webkit-outer-spin-button {
  -webkit-appearance: none;	/* 有无看不出差别 */
}
.btnQ{text-align:center;padding:15px 10px 15px;margin:0 0 60px 0;}
.btnQ a{ display:block;font-size:16px;line-height:2.6em;color:#fff; background:#999999;
  moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;}


.kong{height:42px;}

.blue{color:#00aaff;}

.orgText{color:#ff4a00 !important;font-size: 15px;}
.main-section{
  background:#eee;
  height : 100%;
  min-height:100%;
  width: 100%;
  //overflow:auto;
}

.hidd{ overflow:hidden;}

.mt20{margin-top:22px;}
.mt-40{margin-top:40px;}
.mt-15{margin-top:15px;}
/****************************************************/

.btn{ display:block;color:#fff;font-size:4.6vw;line-height:2.8em;text-align:center;
  moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
}


.bgRed{background:url(../images/bg_6.png) no-repeat; background-size:100% 100%;}
.bgBlue{background:url(../images/bg_6a.png) no-repeat; background-size:100% 100%;}
.bgYellow{background:url(../images/bg_6b.png) no-repeat; background-size:100% 100%;}
.bgGreen{background:url(../images/bg_6c.png) no-repeat; background-size:100% 100%;}


/* animation */
.a-shake{-webkit-animation:0.3s ease;-moz-animation:0.3s ease;-ms-animation:0.3s ease;animation:0.3s ease;}


.a-shake{-webkit-animation-name:shake;-moz-animation-name:shake;-ms-animation-name:shake;animation-name:shake;}


/* 震颤 */
@-webkit-keyframes shake{
  0%,100%{-moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);}
  40%{-moz-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);}
}
@-moz-keyframes shake{
  0%,100%{-moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);}
  40%{-moz-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);}
}
@-ms-keyframes shake{
  0%,100%{-moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);}
  40%{-moz-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);}
}
@keyframes shake{
  0%,100%{-moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);}
  40%{-moz-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);}
}


.bgeee{background:#eee url(../images/bg_2.png) no-repeat 8.5% 50vw;}
.bgf8{background:url(../images/bg_3.png) repeat-y; background-size:23%;}
.bgimg{background:url(../images/bg_1.jpg) no-repeat; background-size:100% 100%;}

.modal-overlay {
  opacity: 0.8;
}

.site-alert{
  width:70%;
  margin-left: 15%;
  margin-top : 30%;
  position : absolute !important;
  top : 0px;
  z-index: 99999;
  text-align: center;
}


/****************************************************/
.mt-48{
  margin-top:48px;
}
.pd-48{
  padding-top:48px;
}
.mb-60{margin-bottom:60px;}
.mb-40{margin-bottom:40px;}
.alert-danger {
  background-color: white !important;
}
.card{
  height: 5rem;
  line-height: 5rem;
  background-color: white;
  margin: 14px 0;
  padding: 0 10px;
  font-size: 1.5rem;
}
.card-left{
   height: 65px;
   line-height: 50px;
   background-color: white;
   padding: 15px 0 10px 20px;
   color:#666;;
 }
.ng-dirty input.ng-invalid, input.ng-invalid{
  border: hidden !important;
}
.product-image {
  width: 115px;
  height: 100px;
  background: url(../images/default_image.png) no-repeat;
  background-size: 100% 100%;
}
.product-image-div {
  width: 115px;
  height: 100px;
  margin: 10px auto;
}


/****************************************************/
div.main div.head em img{
  width:55px;
  height:55px;
  margin:20px 25px 20px 20px;
}


form.loginForm{margin-top:60px;}

.scrollable-content-div {
  height: 100%;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}
label {
  font-weight: 200 !important;
}
.greenBtn {
  background-color: $zjsyGreen;
}
.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #00aaff;
  z-index: 99999;
  .loading-img {
    margin: 10rem auto;
    width: 190px;
    height: 92px;
  }
  .loading-word {
    color: white;
    text-align: center;
    position: absolute;
    bottom : 5rem;
    margin-left: 10%;
    width: 80%;

  }
  .loader,
  .loader:before,
  .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: .5em;
    height: 1em;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:after {
    left: 1em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #ffffff;
      height: 1em;
    }
    40% {
      box-shadow: 0 -.5em #ffffff;
      height: 1.25em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #ffffff;
      height: 1em;
    }
    40% {
      box-shadow: 0 -1em #ffffff;
      height: 1.25em;
    }
  }

}

.scroll {
  overflow: auto;
}

.main-section .main .order_all{margin-bottom:60px;}
.btn-group-lg>.btn,.btn-lg{
  padding-top: 7.5px !important;
  padding-bottom: 7.5px !important;
}

.bangcard{position: relative;top:14px;border-top: 1px solid #ddd;padding: 0;line-height: 5rem;height: 60px;}
.cardsure{width: 40%;margin: auto;margin-top:16px;}

.quickpay{background: #dd0000;width:60%;margin:15px 0 0 20%;}
.isloading{text-align: center;padding: 10px 0;}
.uintpart{margin-top:10px;}
.listlimit{width:160px;height:80px;overflow:hidden;}
.activity-swiper{
  height:auto;
}
.activityList {
  margin-top: 20px;
  border-top: 1px solid #E2E2E2;
}

.activityList h3{ position:relative;margin-top:8px;font-size:4.2vw;line-height:2.4em; text-indent:0.6em; background:#f8f8f8 url(../images/bg_4.png) repeat-y;}
.activityList li{
  padding-bottom: 20px;
  background: white;
  height:85px;
  position:relative;width:100%;float:left;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.activityList li em{ display:inline-block;width:80px;height: 100%;float: left;}
.activityList li em img{ display:block;width:60px;height:60px;margin: auto;margin-top:10px;}
.activityList li .content{
  margin-top:15px;
  display:inline-block;line-height:1.4em;padding-bottom:12px;float: left;
  max-width: 58%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.activityList li .arrow{
  height: 70px;
  float: right;
  width: 30px;
  img{
    margin: 25px auto;
    height: 20px;
    width: 15px;
  }
}


.activityList li .content strong{ display:block;font-size:19px;font-weight:bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#666;}
.activityList li b{ display:block;font-size:15px;font-weight:normal;padding-top:12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #969696}
.activity-end {
  height: 85px;
  float: right;
  width: 50px;
  line-height: 85px;
  img{
    margin: 25px auto;
    height: 30px;
    width: 30px;
  }
}
.modal-dialog {
  margin-top: 150px !important;
}


.personal .downapp{margin-top:15px;}
.personal .downapp li a{margin:10px 0 10px 0;}
.redText {
  color: red;
}
.card-left-footer{
  height: 20px;
  background-color:#eee ;
  border-bottom: 1px solid #ddd;
}
.ordertips{margin:0 auto;/*background:#0af;width:95%;height:100%;border-radius:100%;*/
           text-align:center;line-height:20px;margin-top:50px;font-weight:500;}

.redText {color: red;}
.img-circle{margin-left: 10px;width:60px;height:60px;}
#nick-name{text-decoration:none;padding:0;margin:0 0 0 20px;font-size:14px;display:inline-block;
    float: left;line-height:3rem;color: #fff;padding: 30px 20px 30px 10px;font-weight:bold;}
#changeNick{display:none;float: left;color: #fff;font-size: 20px;line-height: 2em;width:150px;
    border:none;background:transparent;color: #fff;margin: 30px 0 30px 20px;
}

.paperAds{padding:0 0 0 15px;width:100%;margin-top:-20px;font-weight:bolder;
    height:20px;color:#FFFFFF;font-size:14px;background:#000000;opacity:0.4;}



.garden-art{
    padding:0;
    margin:0;
    position:absolute;
    overflow-y:scroll;
    overflow-x:hidden;
    .middle-squar{margin-top:47px;}
    .garden-service{
          min-height:60px;height:auto;width:100%;background:#ffffff;text-align:left;font-size:16px;
          color:#928A8A;margin:20px 0 0 0;
          label {
          display: inline;
        }

        .regular-checkbox {
            display: none;
        }
        .regular-checkbox + label {
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            top:8px;
        }

        .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }

        .regular-checkbox:checked + label {
            background-color: #e9ecee;
            border: 1px solid #adb8c0;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
            color: #99a1a7;
        }

        .regular-checkbox:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: green;
        }
        span{
            //padding:0 0 0 5%;
            //display:inline-block;
            //padding: 0 0 0 6%;
            line-height:60px;
            font-size:18px;
            padding:0 0 0 20px;
          //width:122px;
        }
        div.outer{
          //display:inline-block;
          //margin:20px 0 25px 15px;
          padding:0 0 20px 0;

        }
        div.choosed{
          display:inline-block;
          margin: 0 10px 0 -6px;
          height:40px;

        }
        div.choosed>span{
          padding:0 0 0 5px;
          color:#444141;
          line-height:60px;
        }

    }

    .companyInfo{
          margin:20px 0 0 0;
          font-size: 15px;
        ul{
          width:100%;
          height:auto;
          background:#ffffff;

        }
      .row{padding:5px;margin:0;
        label{margin-bottom:0;}
      }
        ul li{
        width:100%;
        text-align:left;
        line-height:4rem;
        border-bottom:1px solid #f0f0f0;
       }
        ul li label{
          //padding:0 15px 0 10px;
          text-align:left;
          color:#7B7272;
          font-size:17px;
          font-weight:bolder;
        }

        ul li input[type="text"]{
           border:none;
          font-size:17px;
           //padding:0 25px 0 0;

         }
      .text-area{margin:12px 0 10px 0;line-height:2rem;/*min-height:100px;*/
           height:auto;font-size:16px;border:none;}

    }
    .gardenbtn{
        width:85%;
        margin:0 0 15px 22%;
        height:50px;
        border:none;
        border-radius:5px;
        font-size:18px;
        color:#FFFFFF;
        font-weight:600;
    }

}


.service-order{

    margin:47px 0 0 0;
    padding-bottom:60px;
    ul{margin-top:20px;}
    ul li.outerList{
      min-height:100px;
      height:auto;
      padding: 0 0 50px 0;
      background:#FFFFFF;
      border-bottom:1px solid #f0f0f0;
    }
    //ul li div{float:left;display:inline-block;}
    ul li div.picTitle img{
      width:50px;
      height:50px;
      margin:25px 0 0 0;
    }
    .proTitle{
     //margin:30px 0 0 5px;
      top:25px;

      h4{
        font-size:16px;
        margin-bottom:5px;

      }
      p{
        font-size:13px;
        color: #B0B0B0;
      }
    }

      .proState{
          right:25px;
          top:20px;
          div.subBtn{width:60px;height:30px;margin:5px 0 0 10px;

            span.serviceStatus{display:block;float:left;width:55px;margin:0 0 0 -10px;font-size:15px;color:#FF0000;}
            span{margin:0 10px 0 0;display:block;width:20px;height:20px;}
            .toggleBg{
                margin:-16px 0 0 45px;
                float:left;display:block;
                background:url(../images/up.png)no-repeat;
            }

            .isTrue{
              background:url(../images/up.png)no-repeat;
              }
            .isFalse{
              background:url(../images/down.png)no-repeat;
            }
          }

          .proTime{
              margin:0 10px 0 0;
              width:40px;
              height:20px;
              float:right;
              font-size:15px;
              span{
                display:block;
                width:100px;
                color:#AAAAAA;}

          }
      }
    ul li ul.submenu{
        width:100%;background:#FAFAFA;padding:0 0 20px 0;position:relative;top:25px;
        overflow-x:hidden;clear:both;
      li{
        min-height:50px;
        line-height:4rem;
        height:auto;
        border-top: 1px solid rgba(35, 25, 25, 0.05);
        label{color:#B8B8B8;font-size:18px;padding:0 10px 0 15px;text-align:right;}
        p{
          margin:20px 0 0 0;
          background:#FAFAFA;
          line-height:2rem;
          padding: 12px 20px 12px 10px;
          color:#999999;
          font-size:18px;
          word-wrap: break-word;
        }
        textarea.text-area{
          border:none;
          padding:27px 0 10px 10px;
          line-height:2rem;
          //padding:27px 0;
          line-height:2.5rem;
          background:#FAFAFA;
          height:auto;
          font-size:18px;
        }
      }
      .payAgainBtn{width:25%;margin-left:40%;}
    }

}



.service-succeed{
    .redBtn{
      display:inline-block;
      margin:0 auto;
      padding:12px;
      width:90%;
      margin-top:15px;
      font-size:16px;
      font-weight:600;

    }
    .danhao{height:130px;width:100%;padding:18px;}
    .danhao p span {
      color: #666;
      display:inline-block;
      padding:0 0 0 15px;
    }
    .danhao span.pad-left{
      padding-left:0;
      color:#9E9696;
    }
    .succeed{
      padding: 45px 12px 15px 36px;
      margin:0 auto;
      margin-top:30px;
      background: url(../images/ico_8.png)top 10px center no-repeat #fff;
      background-size: 30px;
      background-position:50% 12%;
      border-bottom: 1px solid #ddd;
      p{font-size:16px;}
      p strong{font-size:18px;}
        }

    .failed{
      padding: 45px 12px 15px 36px;
      margin:0 auto;
      margin-top:30px;
      background: url(../images/ico_fail.png)top 10px center no-repeat #fff;
      background-size: 30px;
      border-bottom: 1px solid #ddd;
      p{font-size:16px;}
      p strong{font-size:18px;}
    }
    p.consume span.expense{color:orangered;font-size:20px;padding:0;}
    //.pay strong{
    //  float:left;
    //  display:inline-block;
    //  padding:13px 20px 0 18px;
    //  font-size:15px;}
    .pay h3 {
      float: left;
      padding: 12px 0 12px 31px;
      line-height: 2.4em;
      color: #444;
      display:inline-block;
      margin-bottom: 0;
    }
    .danhao p {
      font-size: 16px;
      line-height: 1.8em;
      color: #999;
    }
    .pay h3{font-size:16px;}
    //.pay a{
    //  float: left;
    //  padding: 12px 15px 12px 5px;
    //  //margin:0 0 0 20px;
    //  font-size: 15px;
    //  line-height: 2.4em;
    //}

}


.service-failed{
    .failed{
      padding: 45px 12px 15px 36px;
      margin:0 auto;
      margin-top:30px;
      background: url(../images/ico_fail.png)top 10px center no-repeat #fff;
      background-size: 30px;
      border-bottom: 1px solid #ddd;
      p{font-size:16px;}
      p strong{font-size:18px;}
      div.result{margin:0 auto;clear:both;font-size:16px;color:#615858;}
    }
    .redBtn{
      display:block;
      margin:0 auto;
      padding:12px;
      width:95%;
      margin-top:15px;
      font-size:16px;
      font-weight:600;

    }
    .pay{
      padding-left:5px;
    }
    .pay h3 {
      float: left;
      padding: 12px 0 12px 31px;
      line-height: 2.4em;
      color: #444;
      margin-bottom: 0;
    }
}


.online-service{
    width:100%;
    background:white;
    .header{
      .back img{
      width: 10px;
      height:17px;}
    }
    .header img{
      width:100%;
      height:130px;
    }
    .navOnline{
      min-height:60px;height:auto;width:100%;background:#ffffff;text-align:left;font-size:16px;
      color:#928A8A;margin:47px 0 0 0;
        .row{padding:0;margin:0 auto;}
        .navbar{padding:2px 5px;margin:0  0 0px 0;}
    }
}


.meeting-room-list{
  height: 100%;
  .room-list{
    height: 100%;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .room-image{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
  }
  .float-info{
    position: absolute;
    width: 130px;
    height: 70px;
    background: white;
    opacity: .5;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 30px;
    right: 0;
    top: 30px;
    font-weight: bold;
  }
  .room-title{
    width: 100%;
    line-height: 30px;
    height : 30px;
    font-size : 18px;
    text-align: center;
    color: $fontGrey;
    background-color: #e57831;
  }
}
.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top:8px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: green;
  line-height: 20px;
}
.meeting-room-order {
  form{
    background: white;
    border-bottom:1px solid #dddddd;
  }
  height: 100%;
  .form-group{
    margin: 0 !important;
  }
  .form-control {
    padding: 0 5px!important;
  }
  .radio-sec{
    display:inline-block;
    margin-left: 5px;
  }
  .radio-sec>span{
    padding:0 0 0 8px;
    line-height:40px;
  }
  .room-label {
    line-height: 40px;
    padding:0 0 0 20px;
    color: $fontDarkGrey;
    font-size: 14px;
    padding-right: 0;
  }

  input {
    line-height: 34px !important;
  }


  .uib-datepicker-popup.dropdown-menu {
    left : -20px !important;
  }

  .meeting-schedule{
    margin-top: 15px;
    background: white;
    width: 100%;
    color: $fontDarkGrey;
    table{
      width : 100%;
      tr {
        border-bottom:1px solid #dddddd;
        border-top:1px solid #dddddd;
        height: 30px;
        line-height: 30px;
        td{
          padding: 5px 0 5px 20px;
        }
      }
      .schedule-status{
        cursor: pointer;
        &.occupy{
          background: #F3F3F3;
        }
        &.order{
          background: #C4FFC0;
        }
      }
    }
    .total-price {
      text-align: center;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
    }

  }
}
.meeting-room-ensure{
  .form-group{
    line-height: 40px;
    margin-right: 0 !important;
  }
  form{
    background: white;
    border-bottom:1px solid #dddddd;
  }
  .room-label {
    line-height:40px;
    padding:0 0 0 40px;
    color: $fontDarkGrey;
    font-size: 14px;
    //text-align:right;
  }
  .room-span{
    line-height: 30px;
  }
  .pay-detail{
    border-top:1px solid #dddddd;
  }
  .radio-sec label{
    margin-right: 5px;
  }
  .input2{
    width: 100%;
  }
}
.activity-detail {
  height: 100%;
  img {
    max-width: 100%;
  }
  .activity-content {
    margin-top: 10px;
    padding: 5px 10px 90px 10px;
    background: white;
    height: 100%;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .embed-html {
      margin-top: 20px;
    }
    .activity-date {
      color: $fontDarkGrey;
    }

    .activity-info-item {
      .info-icon {
        height: 20px;
        width: 18px;
        //vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
      }
      padding-left: 10px;
      width: 100%;
      height: 35px;
      line-height: 35px;
      background: #F3F3F3;
      margin-top: 2px;
    }

  }
  .enroll{
    .form-group{
      padding: 5px 0 !important;
    }
  }
  .activity-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    height: 60px;
    border-top: 1px solid $fontGrey;
    > div {
      display: inline-block;
      height: 100%;
      line-height: 60px;
    }
    .footer-title {
      padding-left: 20px;
      width: 65%;
      float: left;
      font-size: 16px;
      .footer-icon {
        height: 16px;
        width: 16px;
        display: inline-block;
      }
    }
    .submit-sec {
      line-height: 40px;
      width: 35%;
      text-align: center;
      float: left;
      &.red-sec{
        background: red;
      }
      &.grey-sec{
        background: #ccc;
      }
      color: white;
      font-size: 16px;
      .submit-icon {
        margin: auto;
        line-height: 30px;
        width: 20px;
        height: 20px;

      }
    }
  }
  .activity-form {
    .close-icon {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 20px;
    }
    border-top: 1px solid $fontGrey;
    padding: 5px 10px;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    height: 400px;
    width: 100%;
    .form-control {
      border-radius: 0;
    }
    .form-label {
      margin-top: 10px !important;
      margin-bottom: 5px !important;
      font-size: 16px;
    }
    .form-info {
      margin: 10px !important;
      font-size: 16px;
    }

  }



}

/************************ coupon of store and user *********************************/
.coupon-area {
  min-height: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 100px;

  .no-coupon {
    text-align: center;
    font-size: 18px;
  }

  .coupons {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 120px;
    margin: 0 15px 20px 15px;

    .left-coupon {
      display: inline-block;
      width: 26%;
      height: 120px;

      .left-coupon-exclude-left-blank {
        float: right;
        width: 76%;
        height: 100%;
        background: no-repeat left center;
        background-size: 92%;

        .left-text {
          text-align: center;
          margin-top: 40px;
          width: 93%;

          .coupon-price {
            color: white;
          }

          .coupon-status {
            font-size: 10px;
          }
        }
      }
    }

    .right-coupon {
      //float: right;
      display:inline-block;
      width: 72%;
      height: 100%;
      text-align: center;
      vertical-align: top;

      .right-text {
        height: 50%;
        padding-top: 10px;
      }

      hr {
        width: 85%;
        text-align: center;
        margin: 0px;
        height: 1px;
        border: none
      }
    }


  }
}

.mark-all{
  background: white;
  height: 100%;
  .navTop li{
    width: 50%;
    a{
      display: block;
      width: 70%;
      margin: auto;
    }
  }
}
.mark-list{
  height: 100%;
  .mark-sec{
    position:absolute;
    right : 20px;
    bottom: 20px;
    img{
      width: 30px;
      height: 30px;
    }
    span{
      margin-top: 5px;
      display: block;
      font-size: 16px;
      color: #666;
    }
  }
}
.get-order{
  .address{
    margin-top: 10px;
  }
  p.point-use{
    margin-top: 5px;
    color: $fontLightBlack;
    text-align: center;
  }
  .get-order-coupon{
    padding: 0 10px;
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    background: white;
    font-size: 16px;
    border-top: 1px solid $fontGrey;
    border-bottom: 1px solid $fontGrey;
    color: $fontLightBlack;
    img{
      width:20px;
      border-radius: 50%;
      margin-top: -3px;
    }
    .coupon-toggle{
      float: right;
      color: $fontDarkGrey;
      cursor: pointer;

    }
  }
  .get-order-coupon-dropdown{
    width: 100%;
    padding: 0 10px;
    background: white;
    font-size: 14px;
    border-bottom: 1px solid $fontGrey;
    color: $fontLightBlack;
    max-height: 200px;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .coupon-list{
      li{
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid $fontGrey;
      }
    }
  }
  .coupon-products{
    padding: 0 10px !important;
    .coupon-products-list{
      margin-left:20px;
      display: inline-block;
    }
  }

  .self-get{
    margin-left:20px;
  }

}


