@charset "utf-8;";
////$zjsyGreen : #00C500;
////$fontGrey : #E1E1E1;
////$fontDarkGrey : #908686;
////$fontLightBlack : #666;
//
//*{margin:0;padding:0;}
//ol li,ul li{ list-style-type:none; vertical-align:middle;}
//ul{margin-bottom: 0px !important;}
//input{vertical-align:middle;}
//table{border-collapse: collapse;border-spacing: 0;}
//
//html {
//  height: 100%;
//  -webkit-text-size-adjust: 100%;
//  -webkit-user-select:none;
//  -webkit-font-smoothing:antialiased;
//}
//a{
//  text-decoration:none;
//}
//a:link{
//  text-decoration: none!important;
//}
//a:hover{
//  text-decoration:none;
//  outline:none;
//}
//
//a:focus{
//  text-decoration:none;
//  outline:none;
//}
//
//
//body {
//  position: relative;
//  min-height: 100%;
//  font-size:12px;
//  //font-family:"微软雅黑";
//  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif !important;
//  overflow:auto;
//  -webkit-font-smoothing:antialiased;
//  font-weight: 400 !important;
//}
//input,button, textarea, select {
//  //-webkit-appearance: none;-moz-appearance:none;appearance: none;
//  border-radius: 0;
//  margin: 0;
//  padding: 0;
//}
//input[type="checkbox"]{-webkit-appearance: checkbox;-moz-appearance:checkbox;appearance:checkbox;}
////input[type="radio"]{-webkit-appearance: radio-button;-moz-appearance:radio-button;appearance:radio-group;}
//input[type="submit"],
//input[type="reset"],
//input[type="button"],
//button {
//  -webkit-appearance: none;-moz-appearance:none;appearance: none;
//}
//input{ outline:none;}
//img {
//  border:none;vertical-align:middle;width:100%;
//}
//a {
//  text-decoration: none;
//}
//h1,h2,h3,h4,strong{font-weight:normal;}
///* position */
//.rel {
//  position: relative;
//}
//.abs {
//  position: absolute;
//}
//.fixed {
//  position: fixed;
//}
//
///* float */
//.fl {
//  float: left;
//}
//.fr {
//  float: right;
//}
//
///* clear float */
//.clear, .clearfix:after {
//  clear: both;
//}
//.clear, .clearfix:before, .clearfix:after {
//  display: block;
//  overflow: hidden;
//  visibility: hidden;
//  width: 0;
//  height: 0;
//}
//.clearfix:before, .clearfix:after {
//  content: '';
//}
//.clearfix {
//  *zoom: 1;
//}
//
//
//
//
//
//  /****************************************************/
///****************************************************/
//
//
///*************************首页***************************/
//
//   //background:url(../images/advice_arrow.png)left center no-repeat;
//


body{
    background:url(../images/bg5.png);
    margin:0px;
    padding:0px;
    position: relative;
    min-height: 100%;
    font-size:10px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif !important;
    overflow:auto;
    -webkit-font-smoothing:antialiased;
    font-weight: 400 !important;
}
ul{list-style:none;}
.left-wraper ul li a{
  display:block;
  width:50px;
  height:80px;
  text-align:center;
  line-height:80px;
  border:1px solid;
  background:#6495ed;
}
