<div class="outer">

    <div class="left-content">
        <ul class="left-bar">
            <li class="list-item">
                <a href="#"class="blueStyle"ng-class="{plainStyle:hover}"
                   ng-mouseenter="hover = true"
                   ng-mouseleave="hover = false">
                    <span class="whiteBlue glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </li>
            <li class="list-item">
                <a href="#"class="blueStyle"ng-class="{plainStyle:hover1}"
                   ng-mouseenter="hover1 = true"
                   ng-mouseleave="hover1 = false">
                    <span class="whiteBlue glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </li>
            <li class="list-item">
                <a href="#"class="blueStyle"ng-class="{plainStyle:hover2}"
                   ng-mouseenter="hover2 = true"
                   ng-mouseleave="hover2 = false">
                    <span class="whiteBlue glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </li>
            <li class="list-item">
                <a href="#"class="blueStyle"ng-class="{plainStyle:hover3}"
                   ng-mouseenter="hover3 = true"
                   ng-mouseleave="hover3 = false">
                    <span class="whiteBlue glyphicon glyphicon-user"aria-hidden="true"></span>
                </a>
            </li>
        </ul>

    </div>
</div>