<div class="main-section">

    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{account.title}}
        </div>
        <div class="del">
            <a ng-click="goIndex()" href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div class="main mt-48">
        <div class="head clearfix">
            <!--<em><img src="images/head.png" /></em>-->
            <em>
                <img class="img-circle" src="{{account.portrait}}"  alt="" ngf-select ngf-multiple="true" onerror="this.src='images/head.png'"
                     ngf-change="upload($files)"ngf-src="files[0]"ngf-accept="'image/*'">
            </em>
            <p>
                <!--<a id="editNick"href="tel:{{account.tel}}">{{account.tel}}</a>-->
                <a id="editNick"href="javascript:;">{{account.tel}}</a>
                <input id="changeNick"ng-model="account.nick"type="text"placeholder="请输入您的昵称"/>
            <span>
                <a id="nick-name"ng-click="getNick()"><img src="images/ico_10.png"style="width:20px;"/></a>
            </span>
            </p>
        </div>
        <div class="personal">
            <ul>
                <li>
                    <a ui-sref="orderList"href="javascript:;"><em><img src="images/ico_12.png" /></em>我的订单</a>
                </li>
                <li>
                    <a ui-sref="addressAccount"href="javascript:;"><em><img src="images/ico_13.png" /></em>收货地址</a>
                </li>
                <li>
                    <a ui-sref="card"href="javascript:;"><em><img src="images/ico_card.png" /></em>{{account.payWay}}</a>
                </li>
                <li>
                    <a ui-sref="myActivity"href="javascript:;"><em><img src="images/ico_act.png" /></em>我的活动</a>

                    <!--<a href="http://king88.gotoip2.com/huodong/huodong"><em><img src="images/ico_act.png" /></em>我的活动</a>-->
                </li>
                <li>
                    <a ui-sref="creditAccount"href="javascript:;"><em><img src="images/ico_credit.png" /></em>我的积分</a>
                </li>
                <li>
                    <a ui-sref="serviceOrder"href="javascript:;"><em><img src="images/ico_service.png" /></em>服务订单</a>
                </li>
                <li>
                    <a ui-sref="myCoupon"href="javascript:;"><em><img src="images/ico_service.png" /></em>我的优惠券</a>
                </li>
                <li>
                    <a ui-sref="mark.valid"href="javascript:;"><em><img src="images/ic_collected.png" /></em>我的收藏</a>
                </li>
            </ul>
            <ul class="downapp">
                <li>
                    <a href="javascript:;" class="nobg"><em><img src="images/ico_14.png" /></em>联系我们</a>
                    <span><a id="nobg"href="tel:{{account.contact}}">{{account.contact}}</a></span>
                </li>
            </ul>

        </div>
        <div class="btnQ">
            <a href="javascript:;" ng-click="signOut()">退出登录</a>
        </div>
    </div>
</div>