<div class="bge">
    <header class="header">
        <div class="back">
            <a ui-sref="accountCenter"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{address.title}}
        </div>
    </header>

    <div class="main"style="margin-top:57px">
        <div class="address">
            <ul>
                <li>
                    <p>
                        张三丰    13812348787<br />
                        苏州市 吴中区 学府花园 10栋 101室
                    </p>
                        <span>
                            <a ui-sref="editAddress"><img src="images/ico_10.png" />编辑</a>
                        </span>
                </li>
            </ul>
        </div>

    </div>
</div>