<div class="main-section service-succeed activity-enroll-succeed">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>

    <div class="main mt-15">

        <div class="clearfix" ng-class="{succeed:success,failed:!success}">
            <p ng-show="success">
                <strong>您已成功报名，我们会尽快联系您！</strong>
                如您需要取消订单，请拨打商家服务热线。
            </p>
            <p ng-show="!success">
                <strong>您的报名未成功！</strong>
                如您有其他问题，请拨打商家服务热线。
            </p>
        </div>
        <div class="danhao">
            <p><span class="col-xs-4">订单编号</span><span class="col-xs-8 pad-left">{{orderSucceed.orderNumber}}</span></p>
            <p><span class="col-xs-4">服务类型</span>活动报名</p>
            <p class="consume"
               ng-show="cost"><span class="col-xs-4">本次消费</span><span class="expense">{{orderSucceed.payway!='积分'?'¥':''}}{{orderSucceed.expense || 0}}</span></p>
        </div>
        <div class="pay clearfix activity-enroll-form" ng-show="cost">
            <h3>支付方式</h3><strong>{{orderSucceed.payway}}</strong>
        </div>
        <div class="pay clearfix activity-enroll-form">
            <h3>联系电话</h3><a href="tel:{{orderSucceed.telphone}}">{{orderSucceed.telphone}}</a>
        </div>
        <div style="width: 80%;margin: 10px 10%;">

            <button class="redBtn btn" ng-click="goToList()"
                    ng-style="{'width': '30%',
                    'margin-left':!success ? '20%' : '35%'}">返回活动</button>

            <button class="redBtn btn" ng-click="goToPay()"
                    ng-show="!success && orderSucceed.payway == '一卡通'"
                    style="width: 30%;">继续付款</button>
        </div>

    </div>
    <div class="kong"></div>
</div>
