<div class="main-section">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{account.title}}
        </div>
        <div class="del">
            <a ng-click="goIndex()" href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div class="main404">
        <a ui-sref="activity"href="javascript:;"><img src="images/huodong3.jpg" alt="" width="100%"></a>
    </div>
</div>