<div class="pd-48 activity-detail">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{pageTitle}}
        </div>
    </header>

    <div class="activity-content">
        <h3>
            {{title}}
        </h3>
        <h4 class="activity-date">{{date}}</h4>

        <div ng-show="showSubmit">
            <div class="activity-info-item">
                <div class="info-icon">
                    <img src="images/time.png" alt=""/>
                </div>
            <span>
                活动时间: {{period}}
            </span>
            </div>
            <div class="activity-info-item">
                <div class="info-icon">
                    <img src="images/weizhi.png" alt=""/>
                </div>
            <span>
                活动地点: {{location}}
            </span>
            </div>
            <div class="activity-info-item">
                <div class="info-icon">
                    <img src="images/tel.png" alt=""/>
                </div>
            <span>
                联系电话: {{mobile}}
            </span>
            </div>
        </div>

        <div ng-bind-html="embedHtml" class="embed-html">
        </div>
        <hr/>
        <div class="enroll col-sm-7" ng-show="showSubmit && submitted">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 control-label">活动费用:</label>
                    <div class="col-xs-8" ng-show="enroll.payType==1">
                        <p class="form-control-static">{{enroll.price}}</p>
                    </div>
                    <div class="col-xs-8" ng-show="enroll.payType==3">
                        <p class="form-control-static">{{enroll.price}}</p>
                    </div>
                    <div class="col-xs-8" ng-show="enroll.payType==0">
                        <p class="form-control-static">免费</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">支付方式:</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{enroll.payType==1 ? '一卡通' : enroll.payType==3 ? '积分' : '无'}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{enroll.name}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">电 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{enroll.phone}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">报名时间:</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{enroll.createDate | date}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">备 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{enroll.extraInfo}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="activity-footer" ng-show="showSubmit">
        <div class="footer-title">
            <img src="images/qian.png"  alt=""/>

            <span ng-show="payType!=1 && payType!=3">
                免费活动
            </span>
            <span ng-show="payType==1">
                活动费用:{{price}}元
            </span>
            <span ng-show="payType==3">
                活动费用:{{price}}积分
            </span>
        </div>

        <div class="submit-sec grey-sec"  ng-show="expried">
            <div class="submit-icon">
                <img src="images/ren.png" alt=""/>
            </div>
            <span>
                活动已过期
            </span>
        </div>

        <div class="submit-sec grey-sec"  ng-show="!expried && submitted && enroll.payed">
            <div class="submit-icon">
                <img src="images/ren.png" alt=""/>
            </div>
            <span>
                您已报名
            </span>
        </div>

        <div class="submit-sec red-sec"  ng-show="!expried && submitted
                                                    && !enroll.payed"
                ng-click="payAgain()">
            <div class="submit-icon">
                <img src="images/ren.png" alt=""/>
            </div>
            <span>
                继续支付
            </span>
        </div>

        <div class="submit-sec red-sec"
             ng-show="!expried && !submitted"
             ng-click="goSubmit()">
            <div class="submit-icon">
                <img src="images/ren.png" alt=""/>
            </div>
            <span>
                我要报名
            </span>
        </div>

    </div>

    <div class="activity-form" ng-show="showForm">
        <div class="close-icon">
            <a href="javascript:;" class="big-link" ng-click="showForm = false">
                <i class="fa fa-times"></i>
            </a>
        </div>

        <p class="form-label">
            姓名
        </p>
        <input class="form-control" type="text" ng-model="user"/>
        <p class="form-label">
            手机
        </p>
        <input class="form-control" type="tel" ng-model="userPhone"/>
        <p class="form-label">
            备注
        </p>
        <input class="form-control" type="text" ng-model="memo"/>

        <p class="form-info" ng-show="payType==1">
            报名费 ￥{{price}}元

        </p>
        <p class="form-info" ng-show="payType==3">
            报名费 {{price}}积分

        </p>

        <p class="form-info" ng-show="payType==1">
            支付方式: 一卡通
        </p>
        <p class="form-info" ng-show="payType==3">
            支付方式: 积分
        </p>

        <div style="width: 90%;margin: 25px auto 0 auto;">
            <button class="btn redBtn" style="width: 100%;font-size: 16px;" ng-click="submitActivity()">
                报名
            </button>
        </div>
    </div>
    <div class="modal-backdrop in" ng-show="showForm"></div>
</div>