<div class="main-section main">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
           活动中心
        </div>
    </header>
    <!--<div class="main404 main">-->
        <!--<a ui-sref="activityDetail"href="javascript:;"><img src="images/huodong2.jpg" alt="" width="100%"></a>-->
    <!--</div>-->

    <div class="main">
        <div class="swiper-container activity-swiper swiper-container-horizontal"
             style="top:0;margin-top:46px;height: auto;">

            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                        ng-click="goDetail(activities[3].link)"
                        src="images/activity-banner1.jpg" width="100%" /></div>
                <div class="swiper-slide">
                    <img src="images/activity-banner2.jpg"
                         ng-click="goDetail(activities[1].link)"
                         width="100%" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="activityList lazy-sec relR " id="base">
            <ul class="clearfix" >
                <li ng-repeat="hot in activities track by $index">
                    <em class="project-detail-img">
                        <img  ng-click="showProduct(hot.id)" src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
                    </em>
                    <div class="content">
                        <strong>{{hot.name}}</strong>
                        <b >{{hot.content}}</b>
                    </div>
                    <div class="arrow" ng-click="goDetail(hot.link)">
                        <img src="images/ico_7.png" alt=""/>
                    </div>

                </li>

            </ul>
        </div>
    </div>
    </div>

</div>
</div>