<div class="main-section">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{address.title}}
        </div>
    </header>

    <div class="main mt-48"ng-click="">
        <div class="address">
            <ul>
                <li style="border:none;">
                    <p>
                        {{address.user}}    {{address.telphone}}<br />
                        {{address.city}} {{address.district}} {{address.garden}} {{address.house}} {{address.room}}
                    </p>
                        <span>
                            <a ui-sref="addressEdit"><img src="images/ico_10.png" />编辑</a>
                        </span>
                </li>
            </ul>
        </div>

    </div>
</div>