<div class="main-section">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
        <div class="del">
            <a ng-click="goIndex()"href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div class="main mt-48" >
        <div class="address">
            <ul>
                <li style="border:none;">
                    <p ng-click="goToCart()">
                        {{address.user}}    {{address.telphone}}<br />
                        {{address.detailArea}}
                    </p>
                        <span>
                            <a ng-click="editAddress()"><img src="images/ico_10.png" />编辑</a>
                        </span>
                </li>
            </ul>
        </div>




        <div class="redBtn"ng-show="addNewAddr">
            <button type="button" class="btn col-sm-8 btn-block"href="javascript:;"ng-click="editAddress()">新增地址</button>
        </div>


    </div>

</div>