
<div class="main-section">

<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{editAddress.title}}
    </div>
    <!--<div class="del"><a href="#" class="blue">删除</a></div>-->
</header>

<div class="main mt-40">
    <div class="iphone">
        <ul>
            <li><span>收货人</span><input type="text" placeholder="请输入姓名" class="input1"
                                       ng-model="user"/></li>
            <li><span>手　机</span><input type="text" placeholder="请输入手机号码" class="input1"
                    ng-model="telphone"/></li>
            <li><span>地　址</span><input type="text" placeholder="请输入详细地址" class="input1"
                    ng-model="addressdetail"/></li>
        </ul>
    </div>
    <div class="redBtn">
        <button type="button" class="btn col-sm-8 btn-block"href="javascript:;"ng-click="goBack()">确定</button>
    </div>
</div>

</div>