<div class="main-section main all-activity">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
           最新活动
        </div>
        <div class="del">
            <a ng-click="goMy()" href="javascript:;" class="blue">我的活动</a>
        </div>
    </header>

    <div class="main actitity-sec">
        <div class="swiper-container activity-swiper swiper-container-horizontal"
             style="top:0;margin-top:46px;height: auto;">

            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="banner in bannerList track by $index"><img
                        ng-click="goDetail(banner.id)"
                        src="{{banner.bannerImg}}" width="100%" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="activityList lazy-sec relR " id="base">
            <ul class="clearfix" >
                <li ng-repeat="hot in activities track by $index" ng-click="goDetail(hot.id)">
                    <em class="project-detail-img">
                        <img src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
                    </em>
                    <div class="content">
                        <strong>{{hot.name}}</strong>
                        <b >{{hot.content}}</b>
                    </div>

                    <div class="activity-end"  ng-show="hot.expired">
                        <img src="images/activity_end.png" alt=""/>
                    </div>

                    <div ng-show="isAuth">
                        <div class="activity-end"  ng-show="!hot.expired && hot.submitted">
                            <img src="images/activity_sub.png" alt=""/>
                        </div>

                        <div class="activity-end"  ng-show="!hot.expired && !hot.submitted">
                            <img src="images/activity_fresh.png" alt=""/>
                        </div>
                    </div>

                    <div ng-show="!isAuth">
                        <div class="activity-end"  ng-show="!hot.expired">
                            <img src="images/activity_going.png" alt=""/>
                        </div>
                    </div>


                    <!--<div class="arrow" ng-click="goDetail(hot.link)" ng-show="hot.show">-->
                        <!--<img src="images/ico_7.png" alt=""/>-->
                    <!--</div>-->

                </li>

            </ul>
        </div>
    </div>

    <div ui-content-for="modals">
        <div class="modal" ui-if="activityEnd" ui-state='activityEnd'>
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close"
                                ui-turn-off="activityEnd">&times;</button>
                        <h4 class="modal-title">活动结束啦</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            抱歉,此活动已经结束啦.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button ui-turn-off="activityEnd" class="btn redBtn">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
