<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{title}}
    </div>
    <div class="vip" ui-sref="accountCenter">
        <a ><img src="images/vip.png" /></a>
    </div>
</header>

<div class="main-section main">
    <div class="main mt-48">
        <div>
            <a href="javascript:;"><img src="images/store1.jpg" alt="store1"/></a>
        </div>
        <div>
            <a href="javascript:;"><img class="mt-15"src="images/store2.jpg" alt="store2"/></a>
        </div>
        <div>
            <a href="javascript:;"><img class="mt-15"src="images/store3.jpg" alt="store3"/></a>
        </div>
    </div>


    <!--<div class="panel-heading">修改头像</div>-->
    <!--<div class="panel-body" >-->
        <!--<img class="img-circle" style="margin-left: 10px;width:60px;height:60px;" ngf-src="files[0]" src="{{portrait}}" ngf-accept="'image/*'">-->
        <!--<div style="margin-top: 10px;">-->
            <!--<button class="btn btn-info" ng-model="files" ngf-select ngf-multiple="true" ngf-change="upload($files)">上传图片</button>-->

                    <!--<span>-->
                        <!--你可以选择png/jpg图片（180*180）作为头像-->
                    <!--</span>-->
        <!--</div>-->

    <!--</div>-->


</div>