<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{title}}
    </div>
    <div class="vip" ui-sref="accountCenter">
        <a ><img src="images/vip.png" /></a>
    </div>
</header>

<div class="main-section main">
    <div class="main mt-48">
        <div>
            <a href="javascript:;"><img src="images/store1.jpg" alt="store1"/></a>
        </div>

        <div style="padding:0 0 0 15px;width:100%;margin-top:-20px;font-weight:bolder;height:20px;color:#FFFFFF;font-size:14px;background:#000000;opacity:0.4;">
            12月19日前，充100送10元，惊喜多多，优惠多多～
        </div>

        <div>
            <a href="javascript:;"><img class="mt-15"src="images/store2.jpg" alt="store2"/></a>
        </div>

        <div style="padding:0 0 0 15px;width:100%;margin-top:-20px;font-weight:bolder;height:20px;color:#FFFFFF;font-size:14px;background:#000000;opacity:0.4;">
            购物满2件即享8.8折，满2件即享8.5折！
        </div>

        <div>
            <a href="javascript:;"><img class="mt-15"src="images/store3.jpg" alt="store3"/></a>
        </div>
        <div style="padding:0 0 0 15px;width:100%;margin-top:-20px;font-weight:bolder;height:20px;color:#FFFFFF;font-size:14px;background:#000000;opacity:0.4;">
            喜士多超开张优惠多多～
        </div>

    </div>
</div>