<div class="main-section">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">{{card.title}}</div>
    </header>

    <div class="main mt-48" >
        <div class="personal">
            <ul>
                <li>
                    <a ui-sref="cardLogin"><em><img src="images/ico_12.png" /></em>绑定一卡通</a>
                </li>
                <li>
                    <a ui-sref="transactionDetail"><em><img src="images/ico_13.png" /></em>交易明细</a>
                </li>
            </ul>
        </div>
    </div>
</div>