
<div class="main-section" ng-hide="showLeftSec">

    <header class="header" >
        <div class="back">
            <a ng-click="goBack()"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{card.title}}
        </div>
        <div class="del">
            <a ng-click="goIndex()"href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div style="height: 46px;"></div>
    <div class="card" ng-show="!showEdit" ng-click="editCard($event)" >
        <span style="margin-right: 20px;">卡号</span>
        <span>{{(card.num) | card:4}}</span>
        <div style="float:right;font-weight:500;">
            <a href="javascript:;">
                {{card.num ? "修改 " : "绑定 "}}
            </a>
            <a href="javascript:;"ng-click="cancelModal = true" ng-show="!fromMeeting&&!fromActivity&&!fromOrder&&card.num">
                {{"| 解绑"}}
            </a>
        </div>
    </div>


    <div class="form-horizontal row" style="padding:0;margin:0;"name="addForm" ng-show="showEdit" autocomplete="off">
        <div class="bangcard iphone">

            <label for="cardnum" class="col-sm-3 control-label" style="margin-left:30px;">卡号</label>
            <input id="cardnum" type="text" class="input1" style="font-size:15px" placeholder="请绑定一卡通卡号"
                   ng-model="card.num" name="cardnum" required/>
        </div>
    </div>
    <div class="form-group cardsure" ng-show="showEdit || fromOrder ||fromActivity ||fromMeeting">
        <button type="submit"  class="btn col-sm-8 btn-block ensure redBtn" style="line-height:2rem" ng-click="getEnSure()">确定</button>
    </div>

    <div class="form-group cardsure" ng-show="!showEdit && fromGetLeft">
        <button type="submit"  class="btn col-sm-8 btn-block ensure redBtn" style="line-height:2rem" ng-click="getModal=true">查询</button>
    </div>


    <div ui-content-for="modals">
        <div class="modal" ng-if="payModal">
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close"
                                ng-click="$parent.payModal=false">&times;</button>
                        <h5 class="modal-title">一卡通支付</h5>
                    </div>
                    <div class="modal-body">
                        <p >
                            请输入一卡通密码:
                        </p>
                        <input type="password" ng-model="card.pwd" class="form-control" id="pay_input" style="margin:10px 0;width: 80%;font-size: 20px;" autocomplete="off"/>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="$parent.payModal=false" class="btn btn-default">取消</button>
                        <button ng-click="pay()" class="btn "id="paying" ng-class="{greenBtn : !payPosted}">支付</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" ng-if="cancelModal">
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close"
                                ng-click="$parent.cancelModal=false">&times;</button>
                        <h5 class="modal-title">解绑</h5>
                    </div>
                    <div class="modal-body">
                        <p >
                            你确保要解绑一卡通帐号么?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="$parent.cancelModal=false" class="btn btn-default">取消</button>
                        <button ng-click="cancelBind()" class="btn greenBtn">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" ng-if="getModal">
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close"
                                ng-click="$parent.getModal=false">&times;</button>
                        <h5 class="modal-title">查询一卡余额</h5>
                    </div>
                    <div class="modal-body">
                        <p >
                            请输入一卡通密码:
                        </p>
                        <input type="password" ng-model="card.getPwd" class="form-control" id="get_input" style="margin:10px 0;width: 80%;font-size: 20px;" autocomplete="off"/>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="$parent.getModal=false" class="btn btn-default">取消</button>
                        <button ng-click="getLeft()" class="btn" id="card_geting" ng-class="{greenBtn : !getPosted}">查询</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" ng-if="getErrorModal">
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close"
                                ng-click="$parent.getErrorModal=false">&times;</button>
                        <h5 class="modal-title">帐号密码错误</h5>
                    </div>
                    <div class="modal-body">
                        <p >
                            请重新输入帐号密码.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="$parent.getErrorModal=false" class="btn btn-success">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-section" style="background: white;" ng-show="showLeftSec">

    <header class="header">
        <div class="back">
            <a ng-click="goBack()"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            余额查询
        </div>
        <!--<div class="del">-->
        <!--<a ng-click="goIndex()"href="javascript:;" class="blue">主页</a>-->
        <!--</div>-->
    </header>

    <div style="height: 46px;"></div>
    <div class="card-left">
        <span style="margin-right: 20px;">余额</span>
        <span style="font-size: 25px;" class="redText">{{left}}元</span>
    </div>

    <div class="card-left-footer">

    </div>

</div>
