<div class="main-section">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">{{card.title}}</div>
        <div class="del">
            <a ng-click="goIndex()"href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div class="main mt-48" >
        <div class="personal">
            <ul>
                <li>
                    <a ui-sref="cardLogin">绑定一卡通</a>
                </li>
                <li>
                    <a ui-sref="transactionDetail">交易明细</a>
                </li>
                <li>
                    <a ui-sref="cardLogin({from:{getLeft : true}})">查询余额</a>
                </li>
            </ul>
        </div>
    </div>
</div>