
<div class="main-section" style="background: white;">

    <header class="header">
        <div class="back">
            <a ui-sref="cardLogin({from:{getLeft : true}})"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            余额查询
        </div>
        <!--<div class="del">-->
            <!--<a ng-click="goIndex()"href="javascript:;" class="blue">主页</a>-->
        <!--</div>-->
    </header>

    <div style="height: 46px;"></div>
    <div class="card-left">
        <span style="margin-right: 20px;">余额</span>
        <span style="font-size: 25px;" class="redText">{{left}}元</span>
    </div>

    <div class="card-left-footer">

    </div>

</div>
