<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{credit.title}}
    </div>
</header>
<div class="main-section">
    <div class="main mt-48">
        <div class="credit clearfix">
                <span>积分</span><h2>{{credit.creditall}}</h2>
        </div>
        <div class="personal mb-60" id="creditdetail">
            <ul>
                <li>
                    <a href="javascript:;">积分明细</a>
                </li>
            </ul>
            <ul class="mt_0">
                <li  ng-repeat="items in creditdetail">
                    <strong>{{items.creditrule}}</strong><br/>
                    <span class="credittime">{{items.credit_date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    <div class="addcredit">{{items.creditval}}</div>
                </li>
            </ul>

        </div>
    </div>
</div>
