<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        结算付款
    </div>
</header>
<div class="navTop" ></div>
<div class="main ">

    <div class="addressNoArrow address clearfix">
        <em><img src="images/ico_6.png" /></em>
        <p>
            {{username}}    {{phone}}<br />
            {{address}}
        </p>
    </div>
    <div class="parcel">
        <h3>包裹详情</h3>
        <ul>
            <li ng-repeat="item in order track by $index">
                <em><a href="#"><img src="{{item.img}}" /></a></em>
                <p>
                    <strong>{{item.name}}</strong>
                    <b>{{item.buyNum}}</b>
                </p>
                <span>￥{{item.price * item.buyNum}}</span>
            </li>
        </ul>

    </div>
    <div class="pay clearfix">
        <h3>总价</h3><strong> {{totalPrice}}</strong>
    </div>
    <div class="pay clearfix">
        <h3>支付方式</h3><strong>{{payWay}}</strong>
    </div>
    <div style="width: 80%;margin: auto;margin-top: 40px;">
        <button class="btn btn-lg" style="background: #dd0000;width: 100%;" ui-sref="orderSucceed">
            提交订单
        </button>
    </div>

</div>
