<div class="main main-section get-order">

      <header class="header">

             <div class="back">

                <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>

            </div>

            <div class="title">

                结算付款

            </div>

            <div class="del">

                <a ng-click="goIndex()" href="javascript:;" class="blue">主页</a>

           </div>

        </header>

        <div class="navTop" ></div>

        <div class=" " >
            <div class="get-order-coupon" ng-show="payOption=='card' && !isPointStore">
                <span>使用优惠券</span>
                <img src="images/coupon-icon.png" alt=""/>
                <span class="coupon-toggle" ng-show="couponList.length > 0" ng-click="showToggle = !showToggle">
                    {{_.find(couponList,{couponId : couponId}) ?
                    _.find(couponList,{couponId : couponId}).name
                    :'有可用优惠券'}}
                    <i class="fa fa-caret-square-o-down" ng-hide="showToggle" ></i>
                    <i class="fa fa-caret-square-o-up" ng-show="showToggle"></i>
                </span>

                <span class="coupon-toggle" ng-show="couponList.length == 0">
                    无可用优惠券
                </span>
            </div>
            <div class="get-order-coupon-dropdown" ng-show="showToggle&&payOption=='card'">
                <ul class="coupon-list block">

                    <li class="coupon-item" ng-repeat="coupon in couponList track by $index"
                        ng-click="$parent.couponId != coupon.couponId
                        ? $parent.couponId = coupon.couponId
                        : $parent.couponId = null ">
                        {{coupon.name}}
                        <i class="pay-icon pay-icon-selected"
                           ng-show="coupon.couponId == $parent.couponId"></i>
                    </li>

                </ul>
            </div>

            <div class="addressNoArrow address clearfix get-order">
                <em><img src="images/ico_6.png" /></em>
                <p>
                    {{username}}    {{phone}}<br />

                    {{address}}
                </p>

            </div>



            <div class="parcel">

                <h3>包裹详情</h3>

                <ul>

                    <li ng-repeat="item in order.product track by $index">

                        <em><a href="#"><img src="{{item.img}}" /></a></em>
                        <p >

                            <strong>{{item.name}}</strong>

                            <b>x {{item.buyNum}}</b>

                        </p>

                        <span ng-show="!isPointStore" class="get-order-right">￥{{(item.price * item.buyNum).toFixed(1)}}</span>

                        <span ng-show="isPointStore" class="get-order-right">￥{{(item.price * item.buyNum).toFixed(1)}}+{{item.point}}分</span>

                    </li>
                    <li ng-show="payOption=='card' && showCouponProduct" class="coupon-products">
                        <span style="float: left;margin-top: 10px;" >
                            赠品
                        </span>
                        <div class="coupon-products-list" style="width: 100%;">
                            <div style="width: 100%;"
                                 ng-repeat="product in _.find(couponList,{couponId : couponId}).products track by $index">
                                <div class="radio" style="width: 200px;display: inline-block;">
                                    <label>
                                        <input type="radio" name="couponRadios"  value="{{product.productId}}"  ng-model="$parent.couponProductId">
                                        {{product.productName}}
                                    </label>
                                </div>
                                <span style="float:right;float: right;margin-right: 30px;line-height: 40px;">
                                    ￥0
                                </span>
                            </div>
                        </div>
                    </li>

                    <li ng-show="payOption=='card' && showCouponSale">

                        <span style="float: right;" class="get-order-right">

                        优惠券 :-￥{{couponSale}}

                        </span>

                    </li>

                    <li>

                        <span ng-show="!isPointStore" style="float: right;" class="get-order-right">

                        总价 :￥{{(totalPrice + freight - couponSale).toFixed(1)}}

                        (含配送费￥{{freight}})

                        </span>


                        <span ng-show="isPointStore" style="float: right;" class="get-order-right">

                        总价 :￥{{(totalPrice + freight).toFixed(1)}} + {{totalPoint}}分

                        (含配送费￥{{freight}})

                        </span>

                    </li>

                </ul>

            </div>

            <div class="pay clearfix" ng-show="!isPointStore">

               <!--<h3>支付方式</h3><strong>货到付款</strong>-->

                <ul class="pay-list block">

                    <li class="pay-item tap-action pay-item-wapweixin icon-ok" ng-click="payOption='card'">
                        <i class="pay-icon pay-icon-wechat"></i>

                        一卡通支付

                        <i class="pay-icon pay-icon-selected"ng-show="payOption=='card'"></i>
                    </li>
                    <hr>
                    <li class="pay-item tap-action  pay-item-delivery" ng-click="payOption='delivery'">

                       <i class="pay-icon pay-icon-delivery"></i>
                         货到付款
                        <i class="pay-icon pay-icon-selected"ng-show="payOption=='delivery'"></i>

                    </li>

                </ul>

            </div>

            <div class="pay clearfix" ng-show="isPointStore">

                <!--<h3>支付方式</h3><strong>货到付款</strong>-->

                <ul class="pay-list block">

                    <li class="pay-item tap-action pay-item-wapweixin icon-ok" ng-show="totalPrice > 0">
                        <i class="pay-icon pay-icon-wechat" ></i>

                        一卡通支付

                        <i class="pay-icon pay-icon-selected"></i>
                    </li>
                    <hr>
                    <li class="pay-item tap-action  pay-item-delivery" ng-show="totalPrice == 0">

                        <i class="pay-icon" style="float:left;"></i>
                        积分支付
                        <i class="pay-icon pay-icon-selected"></i>

                    </li>

                </ul>

            </div>

           <div style="width: 80%;margin: 15px auto;">

                <button ng-show="payOption=='delivery'" class="btn btn-lg" style="background: #dd0000;width: 100%;" ng-click="postOrder()">
                    提交订单
               </button>

               <button ng-show="payOption=='card' && !isPointStore" class="btn btn-lg redBtn" style="width: 100%;" ng-click="postOrderAndPay()">
                   立即支付
               </button>

                <button ng-show="payOption=='card' && isPointStore" ng-disabled="credit < totalPoint" ng-class="{redBtn:credit >= totalPoint}" class="btn btn-lg " style="width: 100%;" ng-click="pointPay()">
                   立即支付
                </button>
               <p class="point-use" ng-show="isPointStore">
                   现有积分{{credit}}分,本单要使用{{totalPoint}}
               </p>

            </div>

        </div>

    <div ui-content-for="modals">
        <div class="modal" ng-if="orderErrModal">
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close"
                                ng-click="$parent.orderErrModal=false">&times;</button>
                        <h5 class="modal-title">订单生成失败</h5>
                    </div>
                    <div class="modal-body">
                        <p >
                            订单生成失败,{{errMsg}}.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="$parent.orderErrModal=false" class="btn btn-success">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>