
<div class="main-section">

    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{login.title}}
        </div>
    </header>


    <form class="main loginForm form-horizontal container"name="addForm">
        <div class="iphone row">
                <label for="telphone" class="col-sm-3 control-label">您的手机号:</label>
                <input id="telphone" type="tel" ng-pattern="phoneReg"class="input1"style="font-size: 20px;height:50px;"
                       ng-model="telphone"name="phoneInput"required/>
        </div>
        <div class="iphone row">
                <label class="col-sm-3 control-label"for="checknum">您的验证码:</label>
                <input type="text" id="checknum" value="" class="input2" style="font-size: 20px;height:50px;"
                       ng-model="captcha"required/>
                <button type="button" href="javascript:;"
                   ng-disabled="addForm.phoneInput.$invalid"
                   class="btn autocodeBtn"
                   ng-click="setTime()">
                    {{captchaBtn}}
                </button>
        </div>
        <div class="redBtn">
            <!--ng-disabled="addForm.$invalid"-->
            <button type="submit" ng-disabled="addForm.$invalid"

                    class="btn col-sm-10 ensure" ng-click="getEnSure()">确定</button>
        </div>
    </form>
</div>
