<div class="mark-list">
	<div class="main bge" >
		<div class="greensSale lazy-sec relR scrollable-content-div" id="base" infinite-scroll="addItems()" can-load="canLoad">
			<ul class="clearfix" id="hot">
				<li ng-repeat="hot in proList track by $index">
					<em class="project-detail-img">
						<img bn-lazy-src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
					</em>
					<p>
						<strong>{{hot.name}}</strong>
						<b class="org">￥{{hot.price}}</b>
					</p>
					<div class="mark-sec" ng-show="!hot.mark" ng-click="mark(hot.id)">
						<img src="images/ic_uncollected.png" alt=""/>
						<span>
							收藏
						</span>
					</div>
					<div class="mark-sec" ng-show="hot.mark" ng-click="unmark(hot.id)">
						<img src="images/ic_collected.png" alt=""/>
						<span>
							取消
						</span>
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>
