<div class="mark-all">
  <header class="header">
    <div class="back">
      <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
      我的收藏
    </div>
  </header>

  <div class="navTop" >
    <ul class="clearfix">
      <li><a href="javascript:;" ui-sref="mark.valid"
             ng-class="{hover:isActive('/mark-valid')}">有效</a></li>
      <li><a href="javascript:;" ui-sref="mark.invalid"
             ng-class="{hover:isActive('/mark-invalid')}">失效</a></li>
    </ul>
  </div>

  <ui-view></ui-view>
</div>

