<div class="mark-list">
	<div class="main bge">
		<div class="greensSale lazy-sec relR scrollable-content-div" id="base">
			<ul class="clearfix" id="hot">
				<li >
					<em class="project-detail-img">
						<img  ng-click="showProduct(hot.id)"bn-lazy-src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
					</em>
					<p>
						<strong>{{hot.name}}</strong>
						<b class="org">￥{{hot.price}}</b>
					</p>
					<div class="mark-sec" ng-show="!productDetail.mark" ng-click="mark(productDetail.id)">
						<img src="images/ic_uncollected.png" alt=""/>
						<span>
							收藏
						</span>
					</div>
					<!--<div class="mark-sec" ng-show="productDetail.mark" ng-click="unmark(productDetail.id)">-->
						<!--<img src="images/ic_collected.png" alt=""/>-->
						<!--<span>-->
							<!--取消-->
						<!--</span>-->
					<!--</div>-->
				</li>
				<li >
					<em class="project-detail-img">
						<img  ng-click="showProduct(hot.id)"bn-lazy-src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
					</em>
					<p>
						<strong>{{hot.name}}</strong>
						<b class="org">￥{{hot.price}}</b>
					</p>
					<div class="mark-sec" ng-show="!productDetail.mark" ng-click="mark(productDetail.id)">
						<img src="images/ic_uncollected.png" alt=""/>
						<span>
							收藏
						</span>
					</div>
					<!--<div class="mark-sec" ng-show="productDetail.mark" ng-click="unmark(productDetail.id)">-->
					<!--<img src="images/ic_collected.png" alt=""/>-->
					<!--<span>-->
					<!--取消-->
					<!--</span>-->
					<!--</div>-->
				</li>
				<li >
					<em class="project-detail-img">
						<img  ng-click="showProduct(hot.id)"bn-lazy-src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
					</em>
					<p>
						<strong>{{hot.name}}</strong>
						<b class="org">￥{{hot.price}}</b>
					</p>
					<div class="mark-sec" ng-show="!productDetail.mark" ng-click="mark(productDetail.id)">
						<img src="images/ic_uncollected.png" alt=""/>
						<span>
							收藏
						</span>
					</div>
					<!--<div class="mark-sec" ng-show="productDetail.mark" ng-click="unmark(productDetail.id)">-->
					<!--<img src="images/ic_collected.png" alt=""/>-->
					<!--<span>-->
					<!--取消-->
					<!--</span>-->
					<!--</div>-->
				</li>
			</ul>
		</div>
	</div>
</div>
