<div class="main-section main all-activity">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
           我的活动
        </div>
        <div class="del">
            <a ng-click="goAll()" href="javascript:;" class="blue">最新活动</a>
        </div>
    </header>

    <div class="main actitity-sec" infinite-scroll="getOrder()" can-load="canLoad">
        <div class="activityList lazy-sec relR " style="margin-top:46px;" id="base">
            <ul class="clearfix" >
                <li ng-repeat="hot in activities track by $index" ng-click="goDetail(hot.id)">
                    <em class="project-detail-img">
                        <img src="{{hot.img}}" onerror="this.src='images/default_image.png'"/>
                    </em>
                    <div class="content">
                        <strong>{{hot.name}}</strong>
                        <b >{{hot.content}}</b>
                    </div>

                    <div class="activity-end"  ng-show="hot.expired">
                        <img src="images/activity_end.png" alt=""/>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</div>
