<div class="main-section main" data-ng-init="init()" infinite-scroll="addItems()" can-load="canLoad" threshold="{{maxItems}}">
    <header class="header orderlistheader">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>

    <div class="coupon-area">

        <div class="no-coupon" ng-show="noCoupon">
            暂无优惠券
        </div>

        <div class="coupons" ng-repeat="coupon in couponList track by $index"
             ng-style="{'background-image':'url(images/coupon_'+ checkBlue(coupon.status, true) +'.png)'}">
            <div class="left-coupon">
                <div class="left-coupon-exclude-left-blank"
                     ng-style="{'background-image':'url(images/coupon_circle_'+ checkBlue(coupon.status, true) +'.png)'}">
                    <div class="left-text">
                        <span class="coupon-price"><b>￥{{coupon.price}}</b></span>
                        <br/>
                        <span class="coupon-status" ng-style="{'color':checkBlue(coupon.status, false)}">{{coupon.status}}</span>
                    </div>
                </div>
            </div>
            <div class="right-coupon" ng-style="{'color':checkBlue(coupon.status, false)}">
                <div class="right-text">
                    <span style="font-size: 15px;">--- {{coupon.storeName}} - {{coupon.type}} ---</span>
                    <br/>
                    {{coupon.startDate}}至{{coupon.endDate}}
                </div>
                <div>
                    <center><hr ng-style="{'background-color':checkBlue(coupon.status, false)}"/></center>
                </div>
                <div class="right-text">
                    <b>{{coupon.name.length > 21? coupon.name.substring(0, 18) + '...' : coupon.name}}</b>
                    <br/>
                    {{coupon.description.length > 21? coupon.description.substring(0, 18) + '...' : coupon.description}}
                </div>
            </div>
        </div>
    </div>
</div>
