<div class="main-section main online-service">

    <header class="header">
        <!--<div class="back">-->
            <!--<a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>-->
        <!--</div>-->
        <div class="title">
            {{title}}
        </div>
    </header>


    <div class="navOnline">
        <div>
            <img src="images/online_banner.jpg" width="100%"alt=""/>
        </div>
        <div class="row"style="margin-top:3px;">
            <div class="col-xs-6 navbar"style="padding-right:2px;">
                <a ui-sref="waterSend"href="javascript:;"><img src="images/water_anchor.jpg" alt=""/></a>
            </div>
            <div class="col-xs-6 navbar"style="padding-left:2px;">
                <a ui-sref="maintain"href="javascript:;"><img src="images/fix_anchor.jpg" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 navbar"style="padding-right:2px;">
                <a ui-sref="parking"href="javascript:;"><img src="images/stop_anchor.jpg" alt=""/></a>
            </div>
            <div class="col-xs-6 navbar"style="padding-left:2px;">
                <a ui-sref="gardenArt"href="javascript:;"><img src="images/garden_anchor.jpg" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 navbar"style="padding-right:2px;">
                <a href="tel:{{onlineTel}}"><img src="images/estate_anchor.jpg" alt="{{onlineTel}}"/></a>
            </div>
            <div class="col-xs-6 navbar"style="padding-left:2px;">
                <a ui-sref="adviceAndComplain"href="javascript:;"><img src="images/advice_anchor.jpg" alt=""/></a>
            </div>
        </div>
    </div>
</div>