<div class="main-section">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>

    <div class="main mt-48">

        <div class="succeed clearfix">
            <p>
                <strong>您的订单已提交成功，我们会尽快配送！</strong>
                如您需要取消订单，请拨打商家服务热线。
            </p>
        </div>
        <div class="danhao">
            <p><font>订单编号</font>{{orderSucceed.orderNumber}}</p>
            <p><font>商品数量</font>{{orderSucceed.quantity}}件</p>
            <p><font>本次消费</font>{{orderSucceed.expense | currency}} （含配送费{{orderSucceed.distribution | currency}}）</p>
        </div>
        <div class="pay clearfix">
            <h3>支付方式</h3><strong>{{orderSucceed.mode}}</strong>
        </div>
        <div class="pay clearfix">
            <h3>商家电话</h3><strong>{{orderSucceed.telphone}}</strong>
        </div>
        <div class="redBtn">
            <a class="btn btn-danger"ng-click="goIndex()"href="javascript:;">继续逛逛</a>
        </div>
    </div>
    <div class="kong"></div>
</div>
