<div class="main-section">
    <header class="header orderlistheader">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
        <div class="del">
            <a ng-click="goIndex()"href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div class="main">
        <div class="dan"
                ng-repeat="order in orderlist track by $index">
            <div class="hao clearfix orderno">
                <strong>订单号：{{order.number}}</strong>
                <span>{{order.states}}</span>
            </div>

            <div class="pic clearfix">
                <ul>
                    <li ng-repeat="product in order.products">
                        <em><img src="{{product.image}}" /></em>
                        <p>×{{product.quantity}}</p>
                    </li>
                </ul>
                <span ui-sref="orderDetail({orderId:order.number})">共 {{order.totalNum}} 件</span>
            </div>

            <div class="time clearfix">
                <strong>{{order.orderDate | date:"yyyy-MM-dd HH:mm:ss"}}</strong>
                <span class="iscanceled">合计：<font>¥{{order.total}}</font></span>
            </div>
        </div>


    </div>
</div>
<script>
    $(function(){
        $('div.orderdetail:last').css('padding-bottom','10px');
    })
</script>