<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{title}}
    </div>
    <div class="del">
        <a ng-click="goIndex()" class="blue">主页</a>
    </div>
</header>

<div class="main-section">

    <div class="main main-section mt-48">

        <dl class="dandl">
            <dt class="clearfix">
                <strong>订单详情</strong>
                <span>{{orderone.states}}</span>
            </dt>
            <dd>
                <ul class="danq">
                    <li ng-repeat="pills in orderone.orderpills track by $index">
                        <p>{{pills.brands}}{{pills.weight}}*{{pills.standard}}</p>
                        <span>× {{pills.quantity}}</span>
                        <strong>¥{{pills.price}}</strong>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="dandl">
            <dt class="clearfix">
                <strong>收货地址</strong>
            </dt>
            <dd>
                <ul class="shou">
                    <li><span>订单编号</span><p>{{orderone.orderNum}}</p></li>
                    <li><span>收货地址</span><p>{{orderone.address}}</p></li>
                    <li><span>收  货  人</span><p>{{orderone.guest}}</p></li>
                    <li><span>支付方式</span><p>{{orderone.payway}}</p></li>
                </ul>
            </dd>
        </dl>
        <dl class="dandl">
            <dt class="clearfix">
                <strong>价格详情</strong>
            </dt>
            <dd>
                <ul class="shou">
                    <li><span>商品总价</span><p>¥{{orderone.total}}</p></li>
                    <li><span>运费</span><p>¥{{orderone.carriage}}</p></li>
                    <!--<li><span>积分抵用</span><p>-¥{{orderone.credits}}</p></li>-->
                    <li><span>实付金额</span><p class="org">¥{{orderone.realpay}}</p></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>