<!--<div class="main-section">-->
<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{title}}
    </div>
    <div class="del">
        <a ng-click="goIndex()" class="blue big-link">主页</a>
    </div>
</header>

<div class="main-section main">
    <div class="mb-40">
        <div class="main mt-48">
            <dl class="dandl uintpart">
                <dt class="clearfix">
                    <strong>订单详情</strong>
                    <span>{{orderone.status}}</span>
                </dt>
                <dd>
                    <ul class="danq">
                        <li ng-repeat="pills in orderone.orderpills track by $index">
                            <p>{{pills.brands}}{{pills.weight}}*{{pills.standard}}</p>
                            <span>× {{pills.quantity}}</span>
                            <strong ng-show="!$parent.orderone.isPoint">¥{{pills.price}}</strong>
                            <strong ng-show="$parent.orderone.isPoint">¥{{pills.price}}+{{pills.point}}分</strong>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="dandl uintpart">
                <dt class="clearfix">
                    <strong>收货地址</strong>
                </dt>
                <dd>
                    <ul class="shou">
                        <li><span>订单编号</span><p>{{orderone.orderNum}}</p></li>
                        <li><span>收货地址</span><p>{{orderone.address}}</p></li>
                        <li><span>收 货 人</span><p>{{orderone.guest}}</p></li>
                        <li><span>供 货 商</span><p ui-sref="businessList">{{orderone.storeName}}</p></li>
                        <li><span>供货商电话</span><p><a href="tel:{{orderone.storeTel}}">{{orderone.storeTel}}</a></p></li>
                        <li><span>支付方式</span><p>{{orderone.payway}}</p></li>
                    </ul>
                </dd>
            </dl>
            <dl class="dandl uintpart">
                <dt class="clearfix">
                    <strong>价格详情</strong>
                </dt>
                <dd>
                    <ul class="shou">
                        <li ng-show="!orderone.isPoint"><span>总价</span><p>¥{{orderone.total}}</p></li>
                        <li ng-show="orderone.isPoint"><span>总价</span>
                            <p>¥{{orderone.total}}+{{orderone.point}}分</p>
                        </li>
                        <li><span>含运费</span><p>¥{{orderone.carriage}}</p></li>
                        <!--<li><span>积分抵用</span><p>-¥{{orderone.credits}}</p></li>-->
                        <li ng-show="!orderone.isPoint"><span>实付金额</span><p class="org">¥{{orderone.realpay}}</p></li>
                        <li ng-show="orderone.isPoint"><span>实付金额</span>
                            <p class="org">¥{{orderone.realpay}}+{{orderone.point}}分</p>
                        </li>
                    </ul>
                </dd>
            </dl>

            <button ng-show="orderone.status=='未付款'" class="btn quickpay" ng-click="payAgain()">
                立即支付
            </button>
        </div>
    </div>
</div>