<div class="main-section">
    <header class="header">
        <div class="back">
            <a ng-click="goIndex()" href="javascript:;"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
        <div class="del">
            <a ng-click="goIndex()" href="javascript:;" class="blue">主页</a>
        </div>
    </header>

    <div class="main mt-48">

        <div class="succeed clearfix" ng-class="{succeed:isBe,failed:isFal}">
            <p ng-show="orderSucceed.status!='未付款'">
                <strong>您的订单已提交成功，我们会尽快配送！</strong>
                如您需要取消订单，请拨打商家服务热线。
            </p>
            <p ng-show="orderSucceed.status=='未付款'">
                <strong>您的订单未成功！</strong>
                如您有其他问题，请拨打商家服务热线。
            </p>
        </div>
        <div class="danhao">
            <p><font>订单编号</font>{{orderSucceed.orderNumber}}</p>
            <p><font>商品数量</font>{{orderSucceed.quantity}}件</p>
            <p ng-show="!isPoint"><font>本次消费</font>{{orderSucceed.expense}} （含配送费{{orderSucceed.distribution}}）</p>
            <p ng-show="isPoint"><font>本次消费</font>￥{{orderSucceed.expense}}+{{orderSucceed.point}}分 （含配送费￥{{orderSucceed.distribution}}）</p>
        </div>
        <div class="pay clearfix">
            <h3 style="padding-left:35px;">支付方式</h3><strong>{{orderSucceed.payway}}</strong>
        </div>
        <div class="pay clearfix" ng-show="selfGet">
            <h3 style="padding-left:35px;">商家地址(商品自提)</h3>
            <strong>{{storeAddress}}</strong>
        </div>
        <div class="pay clearfix">
            <h3 style="padding-left:35px;">商家电话</h3><a href="tel:{{orderSucceed.telphone}}">{{orderSucceed.telphone}}</a>
        </div>
        <div style="width: 80%;margin: 10px 10%;">
            <button class="redBtn btn"ng-click="goIndex()"href="javascript:;"
                    ng-style="{'width': '30%',
                    'margin-left':orderSucceed.status=='未付款'?'20%' : '35%'}">返回购物</button>

            <button class="redBtn btn"ng-click="goToPay()"href="javascript:;" ng-show="orderSucceed.status=='未付款'"
                    style="width: 30%;">继续付款</button>
        </div>
    </div>
    <div class="kong"></div>
</div>
