
<header class="header">
    <div class="back">
        <a href="#"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        购物成功
    </div>
</header>

<div class="main ">

    <div class="succeed clearfix">
        <p>
            <strong>您的订单已提交成功，我们会尽快配送！</strong>
            如您需要取消订单，请拨打商家服务热线。
        </p>
    </div>
    <div class="danhao">
        <p><font>订单编号</font>2015123123123324</p>
        <p><font>商品数量</font>3件</p>
        <p><font>本次消费</font>￥88.00 （含配送费￥0.00）</p>
    </div>
    <div class="pay clearfix">
        <h3>支付方式</h3><strong>货到付款</strong>
    </div>
    <div class="pay clearfix">
        <h3>商家电话</h3><strong>021-12345678</strong>
    </div>
</div>
<div class="redBtn">
    <a href="#">继续逛逛</a>
</div>
<div class="kong"></div>


