<div class="main-section service-succeed">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>

    <div class="main mt-15">

        <div class="succeed clearfix">
            <p>
                <strong>您的订单已提交成功，我们会尽快联系您！</strong>
                如您需要取消订单，请拨打服务热线。
            </p>
        </div>
        <div class="danhao">
            <p><span class="col-xs-4">订单编号</span><span class="col-xs-8 pad-left">{{orderSucceed.orderNumber}}</span></p>
            <p><span class="col-xs-4">服务类型</span><span class="col-xs-8 pad-left">{{orderSucceed.type}}</span></p>
            <p><span class="col-xs-4">详细地址</span><span class="col-xs-8 pad-left">{{orderSucceed.address}}</span></p>
        </div>
        <div class="pay clearfix">
            <h3 class="col-xs-4">联系电话</h3><a class="col-xs-8"href="tel:{{orderSucceed.telphone}}">{{orderSucceed.telphone}}</a>
        </div>
        <div style="width: 80%;margin: 10px 15%;"ng-hide="showBusiness">
            <button class="redBtn btn"ng-click="goToOnline()">返回线上物业</button>
        </div>
        <div style="width: 80%;margin: 10px 15%;"ng-show="showBusiness">
            <button class="redBtn btn"ng-click="goBusiness()">返回</button>
        </div>
    </div>
    <div class="kong"></div>
</div>
