<div class="main-section service-failed">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>

    <div class="main mt-15">

        <div class="failed clearfix">
            <p>
                <strong>您的可能因为以下原因没有提交成功！</strong>
                <div class="result">服务器没有响应。</div>
            </p>
        </div>
        <div class="pay clearfix">
            <h3>联系电话</h3><a href="tel:{{orderFailed.telphone}}">{{orderFailed.telphone}}</a>
        </div>
        <div>
            <button class="redBtn btn"href="javascript:window.history.back();" ng-click="goToOnline()">返回线继续下单</button>
        </div>
    </div>
    <div class="kong"></div>
</div>
