<div class="main-section main service-order">

    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>


    <div class="serviceList">
        <div>
            <img src="images/garden_banner.jpg" width="100%"alt=""/>
        </div>
        <ul>
            <li class="outerList"ng-repeat="order in orderList track by $index">
                <div class="picTitle"><img src="{{order.iconImg}}"alt=""/></div>
                <div class="proTitle">
                    <h4>{{order.pro}}</h4>
                    <p>订单号：{{order.number}}</p>
                </div>
                <div class="proTime">
                    <span>{{order.doDate | date:"yyyy/MM/dd"}}</span>
                </div>
                <div class="proState">
                    <p>{{order.state}}</p><span ng-click="order.showSub = !order.showSub"> </span>

                </div>
                <ul class="submenu" ng-show="order.showSub">
                    <li class="row">
                        <label class="col-xs-4"for="serType0">服务类型</label>
                        <p class="col-xs-8"id="serType0">{{service.type}}</p>
                    </li>
                    <li class="row">
                        <label class="col-xs-4"for="compyName0">公司名称</label>
                        <p class="col-xs-8"id="compyName0">{{service.compName}}</p>
                    </li>
                    <li class="row">
                        <label class="col-xs-4"for="compyGuy0">联 系 人</label>
                        <p class="col-xs-8"id="compyGuy0">
                            {{service.linkMan+service.linkTel}}
                        </p>
                    </li>
                    <li class="row">
                        <label class="col-xs-4"for="extraInfo0">备注信息</label>
                        <p class="col-xs-7 textarea"id="extraInfo0">{{service.extraMsg}}</p>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
