<header class="header">
  <div class="back">
    <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
  </div>
  <div class="title">
    {{title}}
  </div>
  <div class="vip" ui-sref="accountCenter">
    <a ><img src="images/vip.png" /></a>
  </div>
</header>
<div class="swiper-container" ng-show="isActive('/store-product')"
  ng-style="{height:navHeight}">

  <div class="swiper-wrapper">
    <div class="swiper-slide"ng-repeat="image in bannerImage track by $index">
      <a href="{{image.url}}">
        <img src="{{image.image}}" width="100%" />
      </a>
    </div>
    <!--<div class="swiper-slide"><img src="images/banner-1.jpg" width="100%" /></div>-->
    <!--<div class="swiper-slide"><img src="images/banner-1.jpg" width="100%" /></div>-->
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="navTop" >
  <ul class="clearfix" ng-show="isActive('/store-product') || isActive('/store-sale') || isActive('/store-detail')">
    <li><a href="javascript:;" ng-click="goIndex()"
           ng-class="{hover:isActive('/store-product')}">商品</a></li>
    <li><a href="javascript:;" ui-sref="store.sale"
           ng-class="{hover:isActive('/store-sale')}">优惠</a></li>
    <li><a href="javascript:;" ui-sref="store.detail"
           ng-class="{hover:isActive('/store-detail')}">商家</a></li>
  </ul>
</div>
<div class="sound" ng-show="isActive('/store-product')"id="notice">
  <span class="attention">{{notice.title}}</span><a href="javascript:;"  class="blue">详情 &gt;</a>

</div>
<ui-view></ui-view>

<div ng-show="isActive('/store-product') || isActive('/store-sale') || isActive('/store-cart')">
  <footer class="footer">
    <div class="shop clearfix" style="z-index: 9999;">
      <p ng-show="cart.products.length == 0">
        <font>满￥{{cart.min}}免配送费</font>
        <img class="cart-img-zero" src="images/ico_9.png"/>
        购物车是空的
      </p>
      <div class="clearfix" ng-show="cart.products.length > 0">
        <em ng-click="toggleCart()">
          <img class="cart-img" src="images/ico_9.png" />
          <b>{{getProductLength()}}</b>
        </em>
        <strong>￥{{(totalPrice).toFixed(1)}}
          <font ng-show="cart.min > totalPrice">还差￥{{(cart.min - totalPrice).toFixed(1)}}免配送费</font>
        </strong>
        <span ng-hide="isActive('/store-cart')">
            <a ng-disabled="totalPrice == 0" href="javascript:;" ng-click="goToCart()">选好了</a>
        </span>

        <span ng-show="isActive('/store-cart')">
            <a ng-disabled="totalPrice == 0" href="javascript:;" ng-click="getOrder()">去下单</a>
        </span>
      </div>
    </div>
  </footer>

  <div class="cart-cover shopN" ng-show="showCart">
  </div>
  <div class="cart" >

      <dl ng-style="{'height':showCart?'400px':'0px'}">

          <dt class="clearfix">
            <span ng-click="toggleCart()" ><a href="javascript:;" id="qk"><img src="images/ico_5.png" /></a></span>
          </dt>
        <div style="position:relative;overflow: auto;height:300px;">
          <dd>
            <ul>
              <li ng-repeat="pro in cart.products track by $index">
                <strong>{{pro.name}}</strong>
                <b class="org">￥{{(pro.price * pro.buyNum).toFixed(1)}}</b>
                <div class="numN fr">
                  <a href="javascript:;" class="add1" ng-click="addProduct(pro.id)">
                    <img src="images/ico_a1.png" />
                  </a>
                  <span>{{pro.buyNum}}</span>
                  <a href="javascript:;" class="sub1" ng-click="removeProduct(pro.id)">
                    <img src="images/ico_j1.png" />
                  </a>
                </div>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
  </div>
</div>
<!--<div ui-content-for="modals">-->
  <!--<div class="modal modal-overlay" ui-if='noticeModal' ui-state='noticeModal'>-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button class="close"-->
                  <!--ui-turn-off="noticeModal">&times;</button>-->
          <!--<h4 class="modal-title">{{notice.title}}</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<p >-->
            <!--{{notice.content}}-->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button ui-turn-off="noticeModal" class="btn btn-default">知道了</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="notice">
  <dl>
    <dt><em class="close"id="close"><img src="images/ico_close.png"></em></dt>
    <dd>
      <h3>{{notice.title}}</h3>
      <p>{{notice.content}}</p>
    </dd>
  </dl>
</div>



