<div class="main main-section" ng-style="{height:mainHeight-78,minHeight:mainHeight-78}">


<div class="sideNav fl" ng-style="{height:mainHeight-78}">
    <ul>
        <li class="hover1">
            <a scroll-on-click scrollBase="#base" scrollFirst="#hot" scrollHref="#hot"
               class="hover" href="javascript:;"><img src="images/ico_3.png" />热卖推荐</a>
        </li>
        <li ng-repeat="cate in cates track by $index">
            <a scroll-on-click scrollBase="#base" scrollFirst="#hot" scrollHref="#{{cate.sec}}" ng-click="setFocus($index)" href="javascript:;">{{cate.name}}</a>
        </li>
    </ul>
</div>
<div class="productList lazy-sec fl scrollable-content-div" id="base" ng-style="{height:mainHeight-78}">
    <div class="greens  relR "  ng-style="{'min-height':mainHeight-38}">
        <ul class="clearfix" id="hot">
            <li class="product-item" ng-repeat="hot in hots track by $index">
                <em>
                    <div class="product-image-div">
                        <a ng-click="showProduct(hot.id)" href="javascript:;" class="showPH">

                            <img class="product-image" bn-lazy-src="{{hot.img}}"
                                 onerror="this.src='images/default_image.png'"/>
                        </a>
                    </div>
                </em>
                <p ng-show="!$parent.$parent.isPointStore">
                    <strong >{{hot.name}}</strong>
                    <b class="org orgText" >
                        <b ng-hide="_.find(cart.products,{id:hot.id})">
                            ￥{{hot.price}}
                        </b>
                    </b>
                </p>
                <p ng-show="$parent.$parent.isPointStore">
                    <strong class="orgText">
                        <b>
                        {{hot.price ? '￥'+hot.price : ''}}
                        {{hot.price&&hot.point ? '+' : ''}}
                        {{hot.point ? hot.point+'分':''}}
                        </b>
                    </strong>
                    <b class="org " >
                        <b ng-hide="_.find(cart.products,{id:hot.id})">
                            {{hot.name}}
                        </b>
                    </b>
                </p>
                <div class="numProduct">
                    <div style="display: inline-block;width: 70px;padding-left: 15px;float: left;text-align: center">
                        <div ng-show="_.find(cart.products,{id:hot.id})">
                            <span>
                                {{
                                   _.find(cart.products,{id:hot.id})
                                ? _.find(cart.products,{id:hot.id}).buyNum
                                : 0
                                }}
                            </span>
                                <a href="javascript:;" ng-click="removeProduct(hot.id)" class="sub">
                                    <div class="img-cover img-cover-left">
                                        <img src="images/ico_j.png" />
                                    </div>
                                </a>
                        </div>
                    </div>


                    <div style="display: inline-block;width: 35px;display: inline-block;height: 30px;">
                        <a href="javascript:;"
                           ng-click="addProduct(hot.id);fly($event)"

                           ng-hide="(_.find(proList,{id:hot.id}).num <= 0) ||
                       _.find(cart.products,{id:hot.id}).buyNum >= _.find(cart.products,{id:hot.id}).num"
                           class="add">
                            <div class="img-cover img-cover-right">
                                <img src="images/ico_a.png" />
                            </div>

                        </a>
                    </div>

                </div>
            </li>

        </ul>

        <ul class="clearfix" ng-repeat="cate in cates track by $index" id="{{cate.sec}}">
            <li ng-repeat="pro in cate.products">
                <em>
                    <div class="product-image-div">
                        <a href="javascript:;" class="showPH" ng-click="showProduct(pro.id)">
                        <img class="product-image" bn-lazy-src="{{pro.img}}"
                             onerror="this.src='images/default_image.png'"/></a>
                    </div>
                </em>

                <p ng-show="!$parent.$parent.isPointStore">
                    <strong>{{pro.name}}</strong>
                    <b class="org orgText" >
                        <b ng-hide="_.find(cart.products,{id:pro.id})">
                            ￥{{pro.price}}
                        </b>
                    </b>
                </p>
                <p ng-show="$parent.$parent.isPointStore">
                    <strong class="orgText">
                        <b>
                        {{pro.price ? '￥'+pro.price : ''}}
                        {{pro.price&&pro.point ? '+' : ''}}
                        {{pro.point ? pro.point+'分':''}}
                        </b>
                    </strong>
                    <b class="org" >
                        <b ng-hide="_.find(cart.products,{id:pro.id})">
                            {{pro.name}}
                        </b>
                    </b>
                </p>

                <div class="numProduct">
                    <div style="display: inline-block;width: 70px;padding-left: 15px;float: left;text-align: center">
                        <div ng-show="_.find(cart.products,{id:pro.id})">
                            <span>
                                {{
                                   _.find(cart.products,{id:pro.id})
                                ? _.find(cart.products,{id:pro.id}).buyNum
                                : 0
                                }}
                            </span>
                            <a href="javascript:;" ng-click="removeProduct(pro.id)" class="sub">
                                <div class="img-cover img-cover-left">
                                    <img src="images/ico_j.png" />
                                </div>
                            </a>
                        </div>
                    </div>


                    <div style="display: inline-block;width: 35px;display: inline-block;height: 30px;">
                        <a href="javascript:;"
                           ng-click="addProduct(pro.id);fly($event)"

                           ng-hide="(_.find(proList,{id:pro.id}).num <= 0) ||
                       _.find(cart.products,{id:pro.id}).buyNum >= _.find(cart.products,{id:pro.id}).num"
                           class="add">
                            <div class="img-cover img-cover-right">
                                <img src="images/ico_a.png" />
                            </div>

                        </a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>

<div class="clear"></div>

</div>


<div class="product-detail" ng-show="productShown">

    <dl>
        <dt><em ng-click="hideProduct()"><img src="images/ico_5.png" /></em></dt>
        <dd class="mb-11">
            <em class="project-detail-img"><img
                    src="{{productDetail.img}}"
                    onerror="this.src='images/default_image.png'"/></em>
            <h3>{{productDetail.name}}</h3>
            <div class="mark-sec" ng-show="!productDetail.mark" ng-click="mark(productDetail.id)">
                <img src="images/ic_uncollected.png" alt=""/>
                <span>
                    收藏
                </span>
            </div>
            <div class="mark-sec" ng-show="productDetail.mark" ng-click="unmark(productDetail.id)">
                <img src="images/ic_collected.png" alt=""/>
                <span>
                    取消
                </span>
            </div>

            <div class="money clearfix">
                <strong ng-show="!$parent.isPointStore">￥{{productDetail.price}}</strong>
                <strong ng-show="$parent.isPointStore">
                    ￥{{productDetail.price}} + {{productDetail.point}}分
                </strong>

                <div class="numN fr" style="padding:0;">
                    <a href="javascript:;" class="add1" ng-click="addProduct(productDetail.id)">
                            <img src="images/ico_a1.png">
                    </a>
                    <span>
                        {{
                            _.find(cart.products,{id:productDetail.id})?
                            _.find(cart.products,{id:productDetail.id}).buyNum :
                            0
                        }}
                    </span>
                    <a href="javascript:;" class="sub1" ng-click="removeProduct(productDetail.id)">
                        <img src="images/ico_j1.png">
                    </a>
                </div>
            </div>

        <div class="product-detail-content">
            <strong>商品详情</strong>

            <p>
                {{productDetail.detail}}
            </p>

        </div>
    </dd>
</dl>
</div>

