<div ng-style="{height:mainHeight-42}" class="main store-cart">

    <div class="address clearfix" ng-click="selectAddress()">
        <em><img src="images/ico_6.png" /></em>
        <p>
            {{storecart.username}}    {{storecart.phone}}<br />
            {{storecart.address}}
        </p>
    </div>
    <div class="shopList">
        <h3>购物列表</h3>
        <ul>
            <li ng-repeat="item in cart.products track by $index">
                <em><img src="{{item.img}}"/></em>
                <p>
                    <strong>{{item.name}}</strong>
                    <b ng-show="!$parent.$parent.isPointStore">￥{{item.price}}</b>
                    <b ng-show="$parent.$parent.isPointStore">￥{{item.price}} + {{item.point}}积分</b>
                </p>
                <div class="numN fl mt20">
                    <a href="javascript:;" class="add1 big-link" ng-click="addProduct(item.id);">
                        <img src="images/ico_a1.png"/></a>
                    <span>
                        {{
                            item.buyNum
                        }}
                    </span>
                    <a href="javascript:;" class="sub1 big-link" ng-click="removeProduct(item.id)">
                        <img src="images/ico_j1.png"/>
                    </a>
                </div>
            </li>
        </ul>
        <div class="supply">
            由<span>{{$parent.storeTitle}}</span>供货
        </div>
    </div>

</div>