
<div class="store">
	<em><img src="{{storeDetail.storeImage}}" /></em>
	<strong ng-model="shop.name">{{storeDetail.name}}</strong>
	<div class="clear"></div>
	<p>
		起送价:<font>{{storeDetail.startrule}}</font> / 配送费:<font>{{storeDetail.distribution}}</font>
	</p>
</div>

<div class="stores">
	<h3>商家信息</h3>
	<ul>
		<li class="row"><span class="col-xs-4"style="left:15px;">商家简介：</span><p class="col-xs-8"
			style="padding: 0;">{{storeDetail.intro}}</p></li>
		<li class="row"><span class="col-xs-4"style="left:15px;">商家地址：</span><p class="col-xs-8"
			style="padding: 0;">{{storeDetail.addr}}</p></li>
		<li class="row"><span class="col-xs-4"style="left:15px;">营业时间：</span><p class="col-xs-8"
			style="padding: 0;"	>{{storeDetail.openTime}}</p></li>
		<li class="row"><span class="col-xs-4"style="left:15px;">商家电话：</span><p  class="col-xs-8"
			style="padding: 0;">{{storeDetail.tel}}</p></li>
	</ul>
</div>







