<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="images/banner.jpg" width="100%" /></div>
    <div class="swiper-slide"><img src="images/banner.jpg" width="100%" /></div>
    <div class="swiper-slide"><img src="images/banner.jpg" width="100%" /></div>
    <div class="swiper-slide"><img src="images/banner.jpg" width="100%" /></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="navTop">
  <ul class="clearfix">
    <li><a href="#" class="hover">商品</a></li>
    <li><a href="#">优惠</a></li>
    <li><a href="shops.html">商家</a></li>
  </ul>
</div>
<ui-view></ui-view>
