<div class="main-section">
<header class="header">
    <div class="back">
        <a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>
    </div>
    <div class="title">
        {{title}}
    </div>
</header>
<div class="main-section main garden-art">

    <div class="form-horizontal middle-squar"name="gardenForm">
        <div>
            <img src="images/advice_banner.jpg" width="100%"height="100%"alt=""/>
        </div>
        <div class="garden-service row">
            <span class="col-xs-4 typeOfService">服务类型</span>
            <div class="outer col-xs-8">
                <div class="choosed "ng-repeat="radio in typeList track by $index">
                    <input type="radio" name="advice" id="{{'radio-'+radio.id}}"
                           class="regular-checkbox" ng-value="radio.id" ng-model="$parent.childType">
                    <label for="{{'radio-'+radio.id}}"></label>
                    <label class="beLarge"for="{{'radio-'+radio.id}}">{{radio.typeTitle}}</label>
                </div>
            </div>

        </div>
        <div class="companyInfo">
            <ul>
                <li class="row">
                    <label class="col-xs-4"for="compyName">公司名称</label>
                    <input class="col-xs-8"placeholder="请填写公司名称" type="text"id="compyName"
                           ng-model="advice.compyName"/>
                </li>
                <li class="row">
                    <label class="col-xs-4"for="compyGuy">联&nbsp; 系&nbsp; 人</label>
                    <input class="col-xs-8"placeholder="请填写联系人姓名"type="text"id="compyGuy"
                           ng-model="advice.compyGuy"/>
                </li>
                <li class="row">
                    <label class="col-xs-4"for="guyTel">联系电话</label>
                    <input class="col-xs-8"maxlength="11" placeholder="请填写联系人手机号码"type="text"id="guyTel"
                           ng-model="advice.guyTel"/>
                </li>
                <li class="row">
                    <label class="col-xs-4"for="extraInfo">评价建议</label>
                    <textarea class="col-xs-8 text-area"rows="5"placeholder="请留下您宝贵的建议"id="extraInfo"
                              ng-model="advice.extraInfo"></textarea>
                </li>
            </ul>
        </div>
        <div class="form-group gardenbtn">
            <button type="submit"class="gardenbtn redBtn"ng-click="goGardenOrder()"style="line-height:2rem">确定提交</button>
        </div>
    </div>

</div>
</div>