
<header class="header"id="online-service-head">
    <!--<div class="back">-->
    <!--<a href="javascript:window.history.back();"><img src="images/ico_1.png" /></a>-->
    <!--</div>-->
    <div class="title">线上物业</div>
</header>
<div class="main-section main online-service">

    <div class="navOnline">
        <div>
            <img src="images/appOnSeBanner.jpg" width="100%"alt=""/>
        </div>
        <div class="row"style="margin-top:3px;">
            <div class="col-xs-6 navbar"style="padding-right:2px;">
                <a ui-sref="waterSendForApp"><img src="images/water_anchor_app.png" alt=""/></a>
            </div>
            <div class="col-xs-6 navbar"style="padding-left:2px;">
                <a ui-sref="maintainForApp"><img src="images/fix_anchor_app.png" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 navbar"style="padding-right:2px;">
                <a ui-sref="parkingForApp"><img src="images/stop_anchor_app.png" alt=""/></a>
            </div>
            <div class="col-xs-6 navbar"style="padding-left:2px;">
                <a ui-sref="gardenArtForApp"><img src="images/garden_anchor_app.png" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 navbar"style="padding-right:2px;">
                <a href="tel:{{onlineTel}}"><img src="images/estate_anchor_app.png" alt="{{onlineTel}}"/></a>
            </div>
            <div class="col-xs-6 navbar"style="padding-left:2px;">
                <a ui-sref="adviceAndComplainForApp"><img src="images/advice_anchor_app.png" alt=""/></a>
            </div>
        </div>
    </div>
</div>