<div class="main-section service-succeed service-succeed-for-app">
    <header class="header">
        <div class="back">
            <a href="javascript:window.history.back();"><img src="images/white_back.png" /></a>
        </div>
        <div class="title">
            {{title}}
        </div>
    </header>

    <div class="main mt-35">

        <div class="succeed clearfix">
            <p>
                <strong>您的预约已提交成功，我们会尽快处理！</strong>
            </p>
        </div>
        <div class="danhao">
            <p><span class="order-list-left">订单编号</span><span class="order-list-right pad-left">{{orderSucceed.orderNumber}}</span></p>
            <p><span class="order-list-left">服务类型</span><span class="order-list-right pad-left">{{orderSucceed.type}}</span></p>
            <p><span class="order-list-left">详细地址</span><span class="order-list-right pad-left">{{orderSucceed.address}}</span></p>
            <p><span class="order-list-left">联系电话</span><a class="order-list-right pad-left"href="tel:{{orderSucceed.telphone}}">{{orderSucceed.telphone}}</a></p>

        </div>
        <div style="width: 80%;margin: 10px 15%;"ng-hide="showBusiness">
            <button class="redBtn btn service-succeed-btn"ng-click="goToOnline()">继续逛逛</button>
        </div>
        <div style="width: 80%;margin: 10px 15%;"ng-show="showBusiness">
            <button class="redBtn btn service-succeed-btn"ng-click="goBusiness()">返回</button>
        </div>
    </div>
    <div class="kong"></div>
</div>
